<div id="gral">
	<div class="cont100">
		<div class="row">
			<div class="col-md-12">
				<div id="logotipo" class="float-right">
			<img src="assets/images/logotipo-nctech.png">
			<span>Portal Endomarketing</span>
			<div class="subsub">Portal Endomarketing</div>
				</div>
			</div>
		</div>

		<div class="row">
		<div class="col-md-4 offset-md-4" ng-if="viewChangePassword">
			<div id="entrar">
			<form id="login" action="" method="post">
				<div class="form-group">
					<label for="username">Nueva Contraseña:</label>
					<input type="password" ng-model="forget.passNew" class="form-control" id="passwdN" name="passwdN" required>
				</div>
				<div class="form-group">
					<label for="passwd">Confirmar Contraseña:</label>
					<input type="password" ng-model="forget.passConfirm" class="form-control" id="passwd" name="passwd" required>
				</div>
				<center>
					<button ng-click="sendForgetPassword()" type="button" class="btn color-blanco linea-naranja">Recuperar</button>
				</center>
			</form>
			</div>
		</div>
		<div class="col-md-12" ng-if="!viewChangePassword">
			<h1 class="text-center" id="frase">{{messageError}}</h1>
		</div>
	</div>
</div>
	
<script type="text/javascript">
	jQuery(document).ready(function($)
	{
		// Reveal Login form

		// Validation and Ajax action
		$("#login").validate({
			rules: {
				passwdN: {
					required: true
				},

				passwd: {
					required: true,
					equalTo: '#passwdN'
				}
			},

			messages: {
				passwdN: {
					required: 'Ingresa tu password.'
				},

				passwd: {
					required: 'Confirma tu password.',
					equalTo: 'Las contraseñas no son iguales'
				}
			},
			errorElement: "em",
			errorPlacement: function ( error, element ) {
				// Add the `help-block` class to the error element
				error.addClass( "help-block" );

				if ( element.prop( "type" ) === "checkbox" ) {
					error.insertAfter( element.parent( "label" ) );
				} else {
					error.insertAfter( element );
				}
			},
			highlight: function ( element, errorClass, validClass ) {
				$( element ).parents( ".form-group" ).addClass( "has-error" ).removeClass( "has-success" );
			},
			unhighlight: function (element, errorClass, validClass) {
				$( element ).parents( ".form-group" ).addClass( "has-success" ).removeClass( "has-error" );
			}
		});
	});
</script>
