<div id="cabecerasitio" class="color-blanco">
	<div class="clearfix">
		<span class="float-left">
			<div id="log-int">
				<img src="assets/images/logo-cabecera.png" ng-click="goToPath('/app/home')" style="cursor:pointer;">
			</div>
		</span>
		<span class="float-right">
			<div id="sett">
				<i class="fas fa-user"></i>  Hola! {{nctechInfo.name+" "+nctechInfo.lastName}} | 
				<div class="dropdown" style="float: right;">
				  <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: transparent; color: #fff; border: none; outline: none; cursor: pointer;">
					<i class="fas fa-cog"></i>
				  </button>
				  <div class="dropdown-menu sub-head" aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item" href="javascript:void(0)">Mi Perfil</a>
					<a class="dropdown-item" href="javascript:void(0)" ng-click="goToPath('/app/usuarios')">Usuarios</a>
					<a class="dropdown-item" href="javascript:void(0)" ng-click="goToPath('/app/roles')">Roles</a>
					<a class="dropdown-item" href="javascript:void(0)" ng-click="logoutSystem()">Salir</a>
				  </div>
				</div>
				<div class="dropdown" style="float: right; position:relative">
				  <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: transparent; color: #fff; border: none; outline: none; cursor: pointer;">
					<i class="fa fa-bell"></i>
				  </button>
				  <button class="btn btn-sm btn-danger" style="position:absolute; border-radius:15px;top:-10px; right:-10px; padding: 0px 4px;">{{notificaciones | countArray}}</button>
				  <div class="dropdown-menu sub-head" aria-labelledby="dropdownNotificationButton">
					<a class="dropdown-item" ng-click="goToPath('/app/notificaciones')" ng-repeat="notificacion in notificaciones">{{notificacion.name | cortarTexto : 100}}</a>
				  </div>
				</div>
			</div>
		</span>
	</div>
</div>