<div id="gral" class="cont-gral">
	<div class="soy90">
		<div class="row">
			<div class="col-md-2 text-center">
				<img class="img100 icono-int" src="assets/images/icono03.png">
				<div class="col-md-2 color-blanco text-center">
					<h4>HERRAMIENTAS</h4>
					<div class="lineadw linea-verde linea-int"></div>
					<div id="sub-izq" class="row">
						<div class="" aria-labelledby="dropdownMenuLink">
							<button class="dropdown-item" type="button">Campañas de MKT</button>
							<button class="dropdown-item" type="button">Galeria NC Tech</button>
							<button class="dropdown-item" type="button">Chat de negocios</button>
							<button class="dropdown-item" type="button">Reportes</button>
							<button class="dropdown-item" type="button">Newsletter</button>
							<a href="https://accounts.google.com/signin/v2/identifier?continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&service=mail&sacu=1&rip=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin" target="_blank"><button class="dropdown-item" type="button">Correo</button></a>
							<button class="dropdown-item" type="button">Eventos</button>
							<button class="dropdown-item menu-activo" type="button" ng-click="goToPath('/app/documentos')">Documentos</button>
						</div>
					</div><!--subizq-->
				</div>
			</div>

			<div class="col-md-10 text-center color-blanco">
				<div class="row">
					<div class="col-md-4 text-left">
						<button class="btn btn-xs btn-default color-blanco btn-atras" Style="background-color: transparent;" ng-click="goToPath('/app/minutas')"><i class="fa fa-arrow-alt-circle-left fa-2x color-blanco"></i></button>
					</div>
					<div class="col-md-4 text-center" ng-if="!isEdit"><h3>AGREGAR MINUTAS</h3></div>
					<div class="col-md-4 text-center" ng-if="isEdit"><h3>EDITAR MINUTAS</h3></div>
					<div class="col-md-4"></div>
				</div>
				<form name="formMinuta" novalidate>
					<div class="row">
						<div class="col-md-12">
							<table class="table" style="background-color:#FFF">
								<thead>
									<tr>
										<th colspan="2" class="text-center">MINUTA</th>
										<th colspan="2" class="text-center">DETALLES DE LA REUNIÓN</th>
										<th colspan="2" class="text-center">TIEMPO DE REUNIÓN</th>
									</tr>
								</thead>
								<tbody>
									<tr>

										<td>Fecha</td>
										<td>
											<div class="input-group date">
												<input type="text" class="form-control" name="fecha" ng-model="minuta.fecha" ng-change="getWeekNumer()" required ReadOnly>
												<span class="input-group-addon">
													<i class="fa fa-calendar"></i>
												</span>
											</div>
											<span style="color:red" ng-show="formMinuta.fecha.$dirty && formMinuta.fecha.$invalid">
											<span ng-show="formMinuta.fecha.$error.required">Fecha es requerida.</span>
										</td>
										<td>Inicio</td>
										<td>
											<div class="input-group">
												<input class="form-control" name="timeIni" placeholder="Select a time" ng-model="minuta.timeInicio" required ReadOnly>
												<span class="input-group-addon">
													<i class="fa fa-clock"></i>
												</span>
											</div>
											<span style="color:red" ng-show="formMinuta.timeIni.$dirty && formMinuta.timeIni.$invalid">
											<span ng-show="formMinuta.timeIni.$error.required">Hora Inicial es requerida.</span>
										</td>
										<td>Término</td>
										<td>
											<div class="input-group">
												<input class="form-control" placeholder="Select a time" name="timeEnd" ng-model="minuta.timeFin" required ReadOnly>
												<span class="input-group-addon">
													<i class="fa fa-clock"></i>
												</span>
											</div>
											<span style="color:red" ng-show="formMinuta.timeEnd.$dirty && formMinuta.timeEnd.$invalid">
											<span ng-show="formMinuta.timeEnd.$error.required">Hora Termino es requerido.</span>
										</td>
									</tr>
									<tr>
										<td>FW</td>
										<td>
											<input type="number" class="form-control" name="fw" ng-model="minuta.fw" ReadOnly>
											<span style="color:red" ng-show="formMinuta.fw.$dirty && formMinuta.fw.$invalid">
											<span ng-show="formMinuta.fw.$error.required">FW es requerida.</span>
										</td>
										<td>Nombre</td>
										<td>
											<input type="text" class="form-control" name="nombre" ng-model="minuta.nombre" required>
											<span style="color:red" ng-show="formMinuta.nombre.$dirty && formMinuta.nombre.$invalid">
											<span ng-show="formMinuta.nombre.$error.required">Nombre es requerido.</span>
										</td>
										<td>Fecha Proxima Reunion</td>
										<td>
											<div class="input-group date">
												<input datetime-picker date-format="dd-MM-yyyy HH:mm:ss" type="text" name="fechaReunion" class="form-control" ng-model="minuta.fechaReunion">
												<div class="input-group-addon">
													<span class="fa fa-calendar"></span>
												</div>
											</div>
											<!-- <span style="color:red" ng-show="formMinuta['fechaReunion'].$dirty && formMinuta['fechaReunion'].$invalid"> -->
											<!-- <span ng-show="formMinuta['fechaReunion'].$error.required">La Fecha es requerida.</span> -->
										</td>
									</tr>
									<tr>
										<td>Organizador</td>
										<td ng-if="!orgExt">
											<button class="btn btn-sm btn-info" ng-click="setOrgnizador(2)">Es externo</button>
											<select chosen name="organizador" ng-options="option.name+' '+option.lastName for option in users track by option.idUser" ng-model="minuta.organizador" required>
												<option value="">-- Selecciona un organizador --</option>
											</select>
											<span style="color:red" ng-show="formMinuta['organizador'].$dirty && formMinuta['organizador'].$invalid">
											<span ng-show="formMinuta['organizador'].$error.required">Selecciona un organizador.</span>
										</td>
										<td ng-if="orgExt">
											<button class="btn btn-sm btn-info" ng-click="setOrgnizador(1)">Es Interno</button>
											<input type="text" class="form-control" name="organizador_ext" ng-model="minuta.organizador_ext" required>
											<span style="color:red" ng-show="formMinuta.organizador_ext.$dirty && formMinuta.organizador_ext.$invalid">
											<span ng-show="formMinuta.organizador_ext.$error.required">Organizador es requerido.</span>
										</td>
										<td>Secretario</td>
										<td ng-if="!secExt">
											<button class="btn btn-sm btn-info" ng-click="setSecretario(2)">Es externo</button>
											<select chosen name="secretario" ng-options="option.name+' '+option.lastName for option in users track by option.idUser" ng-model="minuta.secretario" required>
												<option value="">-- Selecciona un secretario --</option>
											</select>
											<span style="color:red" ng-show="formMinuta['secretario'].$dirty && formMinuta['secretario'].$invalid">
											<span ng-show="formMinuta['secretario'].$error.required">Selecciona un secretario.</span>
										</td>
										<td ng-if="secExt">
											<button class="btn btn-sm btn-info" ng-click="setSecretario(1)">Es Interno</button>
											<input type="text" class="form-control" name="secretario_ext" ng-model="minuta.secretario_ext" required>
											<span style="color:red" ng-show="formMinuta.secretario_ext.$dirty && formMinuta.secretario_ext.$invalid">
											<span ng-show="formMinuta.secretario_ext.$error.required">Secretario es requerido.</span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 text-center">
							<button class="btn btn-md btn-success float-right" ng-click="addParticipante()">Agregar Participante</button>
							<table class="table" style="background-color:#FFF">
								<thead>
									<tr>
										<th colspan="3" class="text-center">PARTICIPANTES</th>
									</tr>
									<tr>
										<th class="text-center">NOMBRE</th>
										<th class="text-center">PUESTO</th>
										<th class="text-center">ASISTENCIA</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="participante in minuta.participantes">
										<td>
											<select chosen ng-change="selectPuesto($index)" name="parUser{{$index}}" ng-options="option.name+' '+option.lastName for option in users track by option.idUser" ng-model="participante.user" required>
												<option value="">-- Selecciona un participante --</option>
											</select>
											<span style="color:red" ng-show="formMinuta['parUser'+$index].$dirty && formMinuta['parUser'+$index].$invalid">
											<span ng-show="formMinuta['parUser'+$index].$error.required">Selecciona un participante.</span>
										</td>
										<td><input type="text" class="form-control" ng-model="participante.puesto" ReadOnly></td>
										<td><input type="checkbox" class="form-control" ng-true-value="1" ng-false-value="0" ng-model="participante.asistencia"></td>
										<td><button class="btn btn-sm btn-danger float-right" ng-click="remove(minuta.participantes,$index)"><i class="fa fa-trash"></i></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 text-center">
							<button class="btn btn-md btn-success float-right" ng-click="addObjetivo()">Agregar Objetivo</button>
							<table class="table" style="background-color:#FFF">
								<thead>
									<tr>
										<th colspan="2" class="text-center">OBJETIVOS DE LA REUNIÓN</th>
										<th class="text-center">FECHA DE REVISIÓN</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="objetivo in minuta.objetivos">
										<td>{{$index+1}}</td>
										<td>
											<textarea class="form-control" name="objDescripcion{{$index}}" ng-model="objetivo.descripcion" required></textarea>
											<span style="color:red" ng-show="formMinuta['objDescripcion'+$index].$dirty && formMinuta['objDescripcion'+$index].$invalid">
											<span ng-show="formMinuta['objDescripcion'+$index].$error.required">Descripción es requerido.</span>
										</td>
										<td>
											<div class="input-group date" data-provide="datepicker" data-date-format="dd-mm-yyyy">
												<input type="text" name="objDate{{$index}}" class="form-control" ng-model="objetivo.fecha" ng-change="getWeekNumer()" required>
												<div class="input-group-addon">
													<span class="fa fa-calendar"></span>
												</div>
											</div>
											<span style="color:red" ng-show="formMinuta['objDate'+$index].$dirty && formMinuta['objDate'+$index].$invalid">
											<span ng-show="formMinuta['objDate'+$index].$error.required">La fecha del objetivo es requerido.</span>
										</td>
										<td><button class="btn btn-sm btn-danger float-right" ng-click="remove(minuta.objetivos,$index)"><i class="fa fa-trash"></i></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 text-center">
							<button class="btn btn-md btn-success float-right" ng-click="addActividad()">Agregar Actividad</button>
							<table class="table" style="background-color:#FFF">
								<thead>
									<tr>
										<th class="text-center">N°</th>
										<th class="text-center">RESPONSABLE</th>
										<th class="text-center">ASUNTO/MINUTA</th>
										<th class="text-center">SUB-ACTIVIDAD / DESCRIPCIÓN</th>
										<th class="text-center">CO-RESPONSABLE</th>
										<th class="text-center">FECHA COMPROMISO</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="actividad in minuta.actividades">
										<td>{{$index+1}}</td>
										<td>
											<select chosen name="actResponsable{{$index}}" ng-options="option.name+' '+option.lastName for option in users track by option.idUser" ng-model="actividad.responsable" required>
												<option value="">-- Selecciona un responsable --</option>
											</select>
											<span style="color:red" ng-show="formMinuta['actResponsable'+$index].$dirty && formMinuta['actResponsable'+$index].$invalid">
											<span ng-show="formMinuta['actResponsable'+$index].$error.required">Selecciona un responsable.</span>
										<td>
											<input type="text" class="form-control" name="actActividad{{$index}}" ng-model="actividad.name">
											<select chosen name="actAsunto{{$index}}" ng-options="option.name for option in minutasList track by option.idMinuta" ng-model="actividad.asunto" data-placeholder-text-single="'Selecciona un asunto'" no-results-text="'No se encontro :'" Style="width:10vw">
												<option value="">-- Selecciona una minuta--</option>
											</select>
											<!-- <span style="color:red" ng-show="formMinuta['actActividad'+$index].$dirty && formMinuta['actActividad'+$index].$invalid"> -->
											<!-- <span ng-show="formMinuta['actActividad'+$index].$error.required">Asunto es requerido.</span> -->
										</td>
										<td>
											<textarea name="actDescription{{$index}}" class="form-control" ng-model="actividad.descripcion" required></textarea>
											<span style="color:red" ng-show="formMinuta['actDescription'+$index].$dirty && formMinuta['actDescription'+$index].$invalid">
											<span ng-show="formMinuta['actDescription'+$index].$error.required">Descripción es requerida.</span>
										</td>
										<td>
											<select chosen multiple name="actCoresponsables{{$index}}" ng-options="option.name+' '+option.lastName for option in users track by option.idUser" ng-model="actividad.coresponsable" data-placeholder-text-single="'Selecciona los coresponsable'" no-results-text="'No se encontro :'" Style="width:10vw">
												<option value="">-- Selecciona los coresponsable --</option>
											</select>
											<!-- <span style="color:red" ng-show="formMinuta['actCoresponsables'+$index].$dirty && formMinuta['actCoresponsables'+$index].$invalid"> -->
											<!-- <span ng-show="formMinuta['actCoresponsables'+$index].$error.required">Selecciona un responsable.</span> -->
										</td>
										<td>
											<div class="input-group date">
												<input datetime-picker date-format="dd-MM-yyyy HH:mm:ss" type="text" name="actDate{{$index}}" class="form-control" ng-model="actividad.fecha" required>
												<div class="input-group-addon">
													<span class="fa fa-calendar"></span>
												</div>
											</div>
											<span style="color:red" ng-show="formMinuta['actDate'+$index].$dirty && formMinuta['actDate'+$index].$invalid">
											<span ng-show="formMinuta['actDate'+$index].$error.required">La Fecha es requerida.</span>
										</td>
										<td><button class="btn btn-sm btn-danger float-right" ng-click="remove(minuta.actividades,$index)"><i class="fa fa-trash"></i></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</form>
				<div class="row">
					<div class="col-md-12 text-center">
						<button class="btn btn-md btn-primary" ng-disabled="!formMinuta.$valid" ng-click="editMinuta()" ng-if="isEdit">GUARDAR</button>
						<button class="btn btn-md btn-primary" ng-disabled="!formMinuta.$valid" ng-click="saveMinuta()" ng-if="!isEdit">GUARDAR</button>
						<button class="btn btn-md btn-danger" ng-click="goToPath('/app/minutas')">CANCELAR</button>
					</div>
				</div>

			</div><!---colmd10-->
		</div><!--row-->
	</div><!--soy90-->
	<!--<div id="log-int2"><img src="assets/images/logotipo-nctech.png"></div>-->
</div><!--gral-->


<!--Modal Versionamiento de Procedimiento-->

<div class="modal" tabindex="-1" role="dialog" id="modal-addAsunto">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<div class="col-sm-12 text-center">
					<h3 class="modal-title" id="modal-title">Agregar Asunto</h3>
				</div>
			</div>
			<div class="modal-body" id="modal-body">
				<div class="row">
					<div class="col-sm-12">
						<input type="text" ng-model="asunto" class="form-control">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger" type="button" onclick="$('#modal-addAsunto').modal('hide');">CERRAR</button>
				<button class="btn btn-success" type="button" ng-click="saveAsunto()">GUARDAR</button>
			</div>
		</div>
	</div>
</div>