	<div id="gral" class="cont-gral">
		<div class="soy90">
			<div class="row">
				<div class="col-md-2 text-center">
				<img class="img100 icono-int" src="assets/images/icono03.png">
				<div class="col-md-2 color-blanco text-center">
					<h4>HERRAMIENTAS</h4>
					<div class="lineadw linea-verde linea-int"></div>
					<div id="sub-izq" class="row">
						<div class="" aria-labelledby="dropdownMenuLink">
							<button class="dropdown-item" type="button">Campañas de MKT</button>
							<button class="dropdown-item" type="button">Galeria NC Tech</button>
							<button class="dropdown-item" type="button">Chat de negocios</button>
							<button class="dropdown-item" type="button">Reportes</button>
							<button class="dropdown-item" type="button">Newsletter</button>
							<a href="https://accounts.google.com/signin/v2/identifier?continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&service=mail&sacu=1&rip=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin" target="_blank"><button class="dropdown-item" type="button">Correo</button></a>
							<button class="dropdown-item" type="button">Eventos</button>
							<button class="dropdown-item menu-activo" type="button" ng-click="goToPath('/app/documentos')">Documentos</button>
						</div>
					</div><!--subizq-->
				</div>
			</div>

				<div class="col-md-10 text-center color-blanco">
					<div class="row espaciot">
						<div class="col-md-4 text-left">
							<button class="btn btn-xs btn-default color-blanco btn-atras" Style="background-color: transparent;" ng-click="goToPath('/app/home')"><i class="fa fa-arrow-alt-circle-left fa-2x color-blanco"></i></button>
						</div>
						<div class="col-md-4 text-center"><h3>DOCUMENTOS</h3></div>
						<div class="col-md-4"></div>
					</div>
					<div class="container">
						<div class="row mosaico-int">
							<div class="col-md-4" ng-if="checkPermiso(1)">
								<img class="img100 icono-int" src="assets/images/icono07.png" ng-click="goToPath('/app/minutas')">
								<h3 class="tit-mosaico texto-gris">MINUTAS</h3>
								<div class="lineadw linea-azul1"></div>
							</div>
							<div class="col-md-4" ng-if="checkPermiso(7)">
								<img class="img100 icono-int" src="assets/images/icono08.png" ng-click="goToPath('/app/procedimientos')">
								<h3 class="tit-mosaico texto-gris">PROCEDIMIENTOS</h3>
								<div class="lineadw linea-azul2"></div>
							</div>
							<div class="col-md-4" ng-if="checkPermiso(22)">
								<img class="img100 icono-int" src="assets/images/icono09.png" ng-click="goToPath('/app/politicas')">
								<h3 class="tit-mosaico texto-gris">POLITICAS</h3>
								<div class="lineadw linea-azul3"></div>
							</div>
						</div>
					</div><!--container-->
				</div>
			</div><!--row-->
		</div><!--soy90-->
	</div><!--gral-->
