<div id="gral">
	<div class="cont100">
		<div class="row">
			<div class="col-md-12">
				<div id="logotipo" class="float-right">
			<img src="assets/images/logotipo-nctech.png">
			<span>Portal Endomarketing</span>
			<div class="subsub">Portal Endomarketing</div>
				</div>
			</div>
		</div>

		<div class="row">
		<div class="col-md-4 offset-md-4" ng-if="viewChangePassword">
			<div id="entrar">
			<form name="formForget" novalidate>
				<div class="form-group">
					<label for="username">Nueva Contraseña:</label>
					<input type="password" ng-model="forget.passNew" class="form-control" id="passwdN" name="passwdN" required>
					<span style="color:red" ng-show="formForget.passwdN.$dirty && formForget.passwdN.$invalid">
					<span ng-show="formForget.passwdN.$error.required">La nueva contraseña es requerida.</span>
				</div>
				<div class="form-group">
					<label for="passwd">Confirmar Contraseña:</label>
					<input type="password" ng-model="forget.passConfirm" class="form-control" id="passwd" name="passwd" required data-match="forget.passNew">
					<span style="color:red" ng-show="formForget.passwd.$dirty && formForget.passwd.$invalid">
						<span ng-show="formForget.passwd.$error.required">La nueva contraseña es requerida.</span>
					</span>
					<span ng-show="formForget.passwd.$error.match">La confirmación de la contraseña no es correcta.</span>
					</span>
				</div>
				<center>
					<button ng-click="sendForgetPassword()" ng-disabled="!formForget.$valid" type="button" class="btn color-blanco linea-naranja">Recuperar</button>
				</center>
			</form>
			</div>
		</div>
		<div class="col-md-12" ng-if="!viewChangePassword">
			<h1 class="text-center" id="frase">{{messageError}}</h1>
		</div>
	</div>
</div>