<div id="gral" class="cont-gral">
	<div class="soy90">
		<div class="row">
			<div class="col-md-2 text-center">
				<img class="img100 icono-int" src="assets/images/icono03.png">
				<div class="col-md-2 color-blanco text-center">
					<h4>HERRAMIENTAS</h4>
					<div class="lineadw linea-verde linea-int"></div>
					<div id="sub-izq" class="row">
						<div class="" aria-labelledby="dropdownMenuLink">
							<button class="dropdown-item" type="button">Campañas de MKT</button>
							<button class="dropdown-item" type="button">Galeria NC Tech</button>
							<button class="dropdown-item" type="button">Chat de negocios</button>
							<button class="dropdown-item" type="button">Reportes</button>
							<button class="dropdown-item" type="button">Newsletter</button>
							<a href="https://accounts.google.com/signin/v2/identifier?continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&service=mail&sacu=1&rip=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin" target="_blank"><button class="dropdown-item" type="button">Correo</button></a>
							<button class="dropdown-item" type="button">Eventos</button>
							<button class="dropdown-item menu-activo" type="button" ng-click="goToPath('/app/documentos')">Documentos</button>
						</div>
					</div><!--subizq-->
				</div>
			</div>

			<div class="col-md-10 text-center">
				<div class="row">
					<div class="col-md-4 text-left">
						<button class="btn btn-xs btn-default color-blanco btn-atras" Style="background-color: transparent;" ng-click="goToPath('/app/politicas')"><i class="fa fa-arrow-alt-circle-left fa-2x color-blanco"></i></button>
					</div>
					<div class="col-md-4 text-center color-blanco" ng-if="!isEdit"><h3>AGREGAR POLÍTICA</h3></div>
					<div class="col-md-4 text-center color-blanco" ng-if="isEdit"><h3>EDITAR POLÍTICA</h3></div>
					<div class="col-md-4"></div>
				</div>
				<form name="formPolitica" novalidate>
					<div class="row">
						<div class="col-md-12 bg-blanco">
							<h5 class="text-left bg-naranja color-blanco">NOMBRE DE LA POLITICA / LINEAMIENTO</h5>
						</div>
						<div class="col-md-12 color-blanco bg-blanco">
							<input type="text" name="name" class="form-control" ng-model="politica.name" placeholder="Ingresa el nombre de la política o lineamiento" required>
							<span style="color:red" ng-show="formPolitica.name.$dirty && formPolitica.name.$invalid">
							<span ng-show="formPolitica.name.$error.required">El Nombre es requerido.</span>
						</div>
						<div class="col-md-12 bg-blanco">
							<h5 class="text-left color-blanco">OBJETIVO Y ALCANCE</h5>
							<div class="col-sm-12 espaciot">
								<div class="row text-center">
									<div class="col-sm-12 color-gris text-left subtt">
										OBJETIVO
									</div>
									<div class="col-sm-12">
										<textarea class="form-control" name="objetivo" ng-model="politica.objetivo" placeholder="Ingresa el objetivo" required></textarea>
										<span style="color:red" ng-show="formPolitica.objetivo.$dirty && formPolitica.objetivo.$invalid">
										<span ng-show="formPolitica.objetivo.$error.required">El Objetivo es requerido.</span>
									</div>
									<div class="col-sm-12 color-gris text-left subtt">
										ALCANCE
									</div>
									<div class="col-sm-12">
										<textarea class="form-control" name="alcance" ng-model="politica.alcance" placeholder="Ingresa el alcance" required></textarea>
										<span style="color:red" ng-show="formPolitica.alcance.$dirty && formPolitica.alcance.$invalid">
										<span ng-show="formPolitica.alcance.$error.required">El Alcance es requerido.</span>
									</div>
								</div>
							</div>
							<h5 class="text-left color-blanco">DISPOSICIONES GENERALES</h5>
							<div class="col-sm-12 espaciot">
								<div class="row text-center">
									<div class="col-sm-12 color-gris">
										<button class="btn btn-sm btn-success float-right" ng-click="addDisposicion()">Agregar Disposición</button>
									</div>
									<div class="col-sm-2 color-gris">
										N°
									</div>
									<div class="col-sm-10 color-gris subtt">
										Descripción
									</div>
									<div class="col-sm-2 color-gris" ng-repeat-start="disposicion in politica.disposiciones">
										{{$index+1}}
									</div>
									<div class="col-sm-9">
										<textarea class="form-control" name="disposicion{{$index}}" ng-model="disposicion.description" placeholder="Ingresa la disposición" required></textarea>
										<span style="color:red" ng-show="formPolitica['disposicion'+$index].$dirty && formPolitica['disposicion'+$index].$invalid">
										<span ng-show="formPolitica['disposicion'+$index].$error.required">La Descripción de la Disposición es requerida.</span>
									</div>
									<div class="col-sm-1" ng-repeat-end>
										<button class="btn btn-sm btn-danger" ng-click="remove(politica.disposiciones,$index)"><i class="fa fa-trash"></i></button>
									</div>
								</div>
							</div>
							<h5 class="text-left color-blanco">SANCIONES</h5>
							<div class="col-sm-12 espaciot">
								<div class="row text-center">
									<div class="col-sm-12">
										<button class="btn btn-sm btn-success float-right" ng-click="addProhibicion()">Agregar Prohibición</button>
									</div>
									<div class="col-sm-2 color-gris">
										N°
									</div>
									<div class="col-sm-10 color-gris">

									</div>
									<div class="col-sm-2 color-gris" ng-repeat-start="prohibicion in politica.prohibiciones">
										{{$index+1}}
									</div>
									<div class="col-sm-9">
										<textarea class="form-control" name="prohibicion{{$index}}" ng-model="prohibicion.description" placeholder="Ingresa la prohibición" required></textarea>
										<span style="color:red" ng-show="formPolitica['prohibicion'+$index].$dirty && formPolitica['prohibicion'+$index].$invalid">
										<span ng-show="formPolitica['prohibicion'+$index].$error.required">La Descripción de la Prohibición es requerida.</span>
									</div>
									<div class="col-sm-1" ng-repeat-end>
										<button class="btn btn-sm btn-danger" ng-click="remove(politica.prohibiciones,$index)"><i class="fa fa-trash"></i></button>
									</div>
								</div>
							</div>
							<h5 class="text-left color-blanco">RESPONSABLES</h5>
							<div class="col-sm-12 espaciot">
								<div class="row text-center">
									<div class="col-sm-6 color-gris subtt">
										ÁREA RESPONSABLE DEL PROCESO
									</div>
									<div class="col-sm-6 color-gris subtt">
										RESPONSABLE
									</div>
									<div class="col-sm-6">
										<select chosen name="area" ng-options="option.name for option in areas track by option.idArea" ng-model="politica.area" class="form-control">
											<option value="">N/A</option>
										</select>
									</div>
									<div class="col-sm-6">
										<select chosen name="responsable" ng-change="selectPuesto($index)" ng-options="option.name+' '+option.lastName for option in users track by option.idUser" ng-model="politica.user">
											<option value="">N/A</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-sm-12 espaciot">
								<div class="row text-center">
									<div class="col-sm-6 offset-sm-3">
										<div class="color-gris subtt">ÁREAS INVOLUCRADAS</div>
										<select chosen multiple name="resArea{{$index}}" ng-options="option.name for option in areas track by option.idArea" ng-model="politica.responsables" class="form-control" required>
											<option value="">-- Selecciona el area de soporte --</option>
										</select>
										<span style="color:red" ng-show="formPolitica['resArea'+$index].$dirty && formPolitica['resArea'+$index].$invalid">
										<span ng-show="formPolitica['resArea'+$index].$error.required">Selecciona un area de soporte.</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
				<br><br>
				<div class="row">
					<div class="col-md-12 text-center">
						<button class="btn btn-md btn-primary" ng-disabled="!formPolitica.$valid" ng-click="editPolitica()" ng-if="isEdit">GUARDAR</button>
						<button class="btn btn-md btn-primary" ng-disabled="!formPolitica.$valid" ng-click="savePolitica()" ng-if="!isEdit">GUARDAR</button>
						<button class="btn btn-md btn-danger" ng-click="goToPath('/app/politicas')">CANCELAR</button>
					</div>
				</div>
				<br><br><br>
			</div><!---colmd10-->
		</div><!--row-->
	</div><!--soy90-->
	<!--<div id="log-int2"><img src="assets/images/logotipo-nctech.png"></div>-->
</div><!--gral-->