<div id="gral" class="cont-gral">
	<div class="soy90">
		<div class="row">
			<div class="col-md-2 text-center">
				<img class="img100 icono-int" src="assets/images/icono03.png">
				<div class="col-md-2 color-blanco text-center">
					<h4>HERRAMIENTAS</h4>
					<div class="lineadw linea-verde linea-int"></div>
					<div id="sub-izq" class="row">
						<div class="" aria-labelledby="dropdownMenuLink">
							<button class="dropdown-item" type="button">Campañas de MKT</button>
							<button class="dropdown-item" type="button">Galeria NC Tech</button>
							<button class="dropdown-item" type="button">Chat de negocios</button>
							<button class="dropdown-item" type="button">Reportes</button>
							<button class="dropdown-item" type="button">Newsletter</button>
							<a href="https://accounts.google.com/signin/v2/identifier?continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&service=mail&sacu=1&rip=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin" target="_blank"><button class="dropdown-item" type="button">Correo</button></a>
							<button class="dropdown-item" type="button">Eventos</button>
							<button class="dropdown-item menu-activo" type="button" ng-click="goToPath('/app/documentos')">Documentos</button>
						</div>
					</div><!--subizq-->
				</div>
			</div>

			<div class="col-md-10 text-center color-blanco">
				<div class="row">
					<div class="col-md-4 text-left">
						<button class="btn btn-xs btn-default color-blanco btn-atras" Style="background-color: transparent;" ng-click="goToPath('/app/procedimientos')"><i class="fa fa-arrow-alt-circle-left fa-2x color-blanco"></i></button>
					</div>
					<div class="col-md-4 text-center" ng-if="!isEdit"><h3>AGREGAR PROCESO</h3></div>
					<div class="col-md-4 text-center" ng-if="isEdit"><h3>EDITAR PROCESO</h3></div>
					<div class="col-md-4"></div>
				</div>
				<form name="formProceso" novalidate>
					<div class="row">
						<div class="col-md-12 bg-blanco">
							<h5 class="text-left">NOMBRE DEL PROCESO</h5>
							<div class="col-sm-12">
								<input type="text" name="name" class="form-control" ng-model="proceso.name" placeholder="Ingresa el nombre del proceso" required>
								<span style="color:red" ng-show="formProceso.name.$dirty && formProceso.name.$invalid">
								<span ng-show="formProceso.name.$error.required">El Nombre es requerido.</span>
							</div>
						</div>
						<div class="col-md-12 bg-blanco">
							<h5 class="text-left">DESCRIPCIÓN DEL OBJETIVO Y ALCANCE</h5>
							<div class="col-sm-12 espaciot">
								<div class="row text-center">
									<div class="col-sm-12 color-gris text-left subtt">
										OBJETIVO
									</div>
									<div class="col-sm-12">
										<textarea class="form-control" name="objetivo" ng-model="proceso.objetivo" placeholder="Ingresa el objetivo" required></textarea>
										<span style="color:red" ng-show="formProceso.objetivo.$dirty && formProceso.objetivo.$invalid">
										<span ng-show="formProceso.objetivo.$error.required">El Objetivo es requerido.</span>
									</div>
									<div class="col-sm-12 color-gris text-left subtt">
										ALCANCE
									</div>
									<div class="col-sm-12">
										<textarea class="form-control" name="alcance" ng-model="proceso.alcance" placeholder="Ingresa el alcance" required></textarea>
										<span style="color:red" ng-show="formProceso.alcance.$dirty && formProceso.alcance.$invalid">
										<span ng-show="formProceso.alcance.$error.required">El Alcance es requerido.</span>
									</div>
								</div>
							</div>
							<!-- <h5 class="text-left">DURACIÓN</h5> -->
							<!-- <div class="col-sm-12 espaciot"> -->
								<!-- <div class="row text-center"> -->
									<!-- <div class="col-sm-2 color-gris"> -->
										<!-- INICIA -->
									<!-- </div> -->
									<!-- <div class="col-sm-2"> -->
										<!-- <div class="input-group date" data-provide="datepicker" data-date-format="dd-mm-yyyy"> -->
											<!-- <input type="text" class="form-control" name="dateIni" ng-model="proceso.dateIni" ng-change="getWeekNumber()" required> -->
											<!-- <span class="input-group-addon"> -->
												<!-- <i class="fa fa-calendar"></i> -->
											<!-- </span> -->
										<!-- </div> -->
										<!-- <span style="color:red" ng-show="formProceso.dateIni.$dirty && formProceso.dateIni.$invalid"> -->
										<!-- <span ng-show="formProceso.dateIni.$error.required">La Fecha de Inicio es requerido.</span> -->
									<!-- </div> -->
									<!-- <div class="col-sm-2 color-gris"> -->
										<!-- TERMINA -->
									<!-- </div> -->
									<!-- <div class="col-sm-2"> -->
										<!-- <div class="input-group date" data-provide="datepicker" data-date-format="dd-mm-yyyy"> -->
											<!-- <input type="text" class="form-control" name="dateEnd" ng-model="proceso.dateEnd" ng-change="getWeekNumber()" required> -->
											<!-- <span class="input-group-addon"> -->
												<!-- <i class="fa fa-calendar"></i> -->
											<!-- </span> -->
										<!-- </div> -->
										<!-- <span style="color:red" ng-show="formProceso.dateEnd.$dirty && formProceso.dateEnd.$invalid"> -->
										<!-- <span ng-show="formProceso.dateEnd.$error.required">La Fecha de Terminación es requerido.</span> -->
									<!-- </div> -->
									<!-- <div class="col-sm-2 color-gris"> -->
										<!-- #SEMANAS -->
									<!-- </div> -->
									<!-- <div class="col-sm-2"> -->
										<!-- <input type="number" name="semana" class="form-control" ng-model="proceso.numWeek" required> -->
										<!-- <span style="color:red" ng-show="formProceso.semana.$dirty && formProceso.semana.$invalid"> -->
										<!-- <span ng-show="formProceso.semana.$error.required">La Semana es requerida.</span> -->
									<!-- </div> -->
								<!-- </div> -->
							<!-- </div> -->
							<h5 class="text-left">LINEAMIENTOS</h5>
							<div class="col-sm-12 espaciot">
								<div class="row text-center">
									<div class="col-sm-12">
										<button class="btn btn-sm btn-success float-right" ng-click="addLineamiento()">Agregar Lineamiento</button>
									</div>
									<div class="col-sm-6 color-gris subtt">
										LINEAMIENTOS
									</div>
									<div class="col-sm-5 color-gris subtt">
										OBJETIVO
									</div>
									<div class="col-sm-6" ng-repeat-start="lineamiento in proceso.lineamientos">
										<input type="text" name="linName{{$index}}" class="form-control" ng-model="lineamiento.name" required>
										<span style="color:red" ng-show="formProceso['linName'+$index].$dirty && formProceso['linName'+$index].$invalid">
										<span ng-show="formProceso['linName'+$index].$error.required">EL nombre del lineamiento es requerido.</span>
									</div>
									<div class="col-sm-5">
										<input type="text" name="linObjetivo{{$index}}" class="form-control" ng-model="lineamiento.objetivo" required>
										<span style="color:red" ng-show="formProceso['linObjetivo'+$index].$dirty && formProceso['linObjetivo'+$index].$invalid">
										<span ng-show="formProceso['linObjetivo'+$index].$error.required">EL objetivo del lineamiento es requerido.</span>
									</div>
									<div class="col-sm-1" ng-repeat-end>
										<button class="btn btn-sm btn-danger" ng-click="remove(proceso.lineamientos,$index)"><i class="fa fa-trash"></i></button>
									</div>
								</div>
							</div>
							<h5 class="text-left">PROCESO DETALLADO</h5>
							<div class="col-sm-12 espaciot">
								<div class="row text-center">
									<div class="col-sm-12">
										<button class="btn btn-sm btn-success float-right" ng-click="addPaso()">Agregar Proceso</button>
									</div>
									<div class="col-sm-6 color-gris subtt">
										PASOS
									</div>
									<div class="col-sm-5 color-gris subtt">
										ÁREA / PUESTO RESPONSABLE
									</div>
									<div class="col-sm-6" ng-repeat-start="paso in proceso.pasos">
										<textarea class="form-control" name="pasoName{{$index}}" ng-model="paso.name" placeholder="Ingresa el paso" required></textarea>
										<span style="color:red" ng-show="formProceso['pasoName'+$index].$dirty && formProceso['pasoName'+$index].$invalid">
										<span ng-show="formProceso['pasoName'+$index].$error.required">Ingresa el paso.</span>
									</div>
									<div class="col-sm-5">
										<textarea class="form-control" name="pasoArea{{$index}}" ng-model="paso.area" placeholder="Ingresa el area /puesto responsable" required></textarea>
										<span style="color:red" ng-show="formProceso['pasoArea'+$index].$dirty && formProceso['pasoArea'+$index].$invalid">
										<span ng-show="formProceso['pasoArea'+$index].$error.required">Ingresa el area /puesto responsable.</span>
									</div>
									<div class="col-sm-1" ng-repeat-end>
										<button class="btn btn-sm btn-danger" ng-click="remove(proceso.pasos,$index)"><i class="fa fa-trash"></i></button>
									</div>
								</div>
							</div>
							<h5 class="text-left">CHECK LIST</h5>
							<div class="col-sm-12 espaciot">
								<div class="row text-center">
									<div class="col-sm-12">
										<button class="btn btn-sm btn-success float-right" ng-click="addList()">Agregar Requerimiento</button>
									</div>
									<div class="col-sm-6 color-gris subtt">
										REQUERIMIENTOS
									</div>
									<div class="col-sm-6 color-gris subtt">
										CUMPLIDO
									</div>
									<div class="col-sm-6" ng-repeat-start="list in proceso.list">
										<input type="text" name="prosName{{$index}}" class="form-control" ng-model="list.name" required>
										<span style="color:red" ng-show="formProceso['prosName'+$index].$dirty && formProceso['prosName'+$index].$invalid">
										<span ng-show="formProceso['prosName'+$index].$error.required">Ingresa el un requerimiento.</span>
									</div>
									<div class="col-sm-5">
										<input type="checkbox" ng-model="list.type" ng-true-value="1" ng-false-value="2">
									</div>
									<div class="col-sm-1" ng-repeat-end>
										<button class="btn btn-sm btn-danger" ng-click="remove(proceso.list,$index)"><i class="fa fa-trash"></i></button>
									</div>
								</div>
							</div>
							<h5 class="text-left">RESPONSABLES</h5>
							<div class="col-sm-12 espaciot">
								<div class="row text-center">
									<div class="col-sm-6 color-gris subtt">
										ÁREA RESPONSABLE DEL PROCESO
									</div>
									<div class="col-sm-6 color-gris subtt">
										RESPONSABLE
									</div>
									<div class="col-sm-6">
										<select chosen name="area" ng-options="option.name for option in areas track by option.idArea" ng-model="proceso.area" class="form-control" required>
											<option value="">-- Selecciona el area de soporte --</option>
										</select>
										<span style="color:red" ng-show="formProceso.area.$dirty && formProceso.area.$invalid">
										<span ng-show="formProceso.area.$error.required">El area responsable es requerido.</span>
									</div>
									<div class="col-sm-6">
										<select chosen name="responsable" ng-options="option.name+' '+option.lastName for option in users track by option.idUser" ng-model="proceso.user" required>
											<option value="">-- Selecciona un participante --</option>
										</select>
										<span style="color:red" ng-show="formProceso.responsable.$dirty && formProceso.responsable.$invalid">
										<span ng-show="formProceso.responsable.$error.required">El responsable es requerido.</span>
									</div>
								</div>
							</div>
							<div class="col-sm-12 espaciot">
								<div class="row text-center">
									<div class="col-sm-12">
										<button class="btn btn-sm btn-success float-right" ng-click="addResponsable()">Agregar Responsable</button>
									</div>
									<div class="col-sm-6 color-gris subtt">
										ÁREAS INVOLUCRADAS
									</div>
									<div class="col-sm-6 color-gris subtt">
										RESPONSABLE
									</div>
									<div class="col-sm-6" ng-repeat-start="responsable in proceso.responsables">
										<select chosen name="resArea{{$index}}" ng-options="option.name for option in areas track by option.idArea" ng-model="responsable.area" class="form-control" required>
											<option value="">-- Selecciona el area de soporte --</option>
										</select>
										<span style="color:red" ng-show="formProceso['resArea'+$index].$dirty && formProceso['resArea'+$index].$invalid">
										<span ng-show="formProceso['resArea'+$index].$error.required">Selecciona un area de soporte.</span>
									</div>
									<div class="col-sm-5">
										<select chosen name="resResponsable{{$index}}" ng-change="selectPuesto($index)" ng-options="option.name+' '+option.lastName for option in users track by option.idUser" ng-model="responsable.user" required>
											<option value="">-- Selecciona un responsable --</option>
										</select>
										<span style="color:red" ng-show="formProceso['resResponsable'+$index].$dirty && formProceso['resResponsable'+$index].$invalid">
										<span ng-show="formProceso['resResponsable'+$index].$error.required">Selecciona el responsable.</span>
									</div>
									<div class="col-sm-1" ng-repeat-end>
										<button class="btn btn-sm btn-danger" ng-click="remove(proceso.responsables,$index)"><i class="fa fa-trash"></i></button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
				<br><br>
				<div class="row">
					<div class="col-md-12 text-center">
						<button class="btn btn-md btn-primary" ng-disabled="!formProceso.$valid" ng-click="editProceso()" ng-if="isEdit">GUARDAR</button>
						<button class="btn btn-md btn-primary" ng-disabled="!formProceso.$valid" ng-click="saveProceso()" ng-if="!isEdit">GUARDAR</button>
						<button class="btn btn-md btn-danger" ng-click="goToPath('/app/procedimientos')">CANCELAR</button>
					</div>
				</div>
				<br><br>
			</div><!---colmd10-->
		</div><!--row-->
	</div><!--soy90-->
	<!--<div id="log-int2"><img src="assets/images/logotipo-nctech.png"></div>-->
</div><!--gral-->