<div id="gral" class="cont-gral">
	<div class="soy90">
		<div class="row">
			<div class="col-md-2 text-center">
				<img class="img100 icono-int" src="assets/images/icono03.png">
				<div class="col-md-2 color-blanco text-center">
					<h4>HERRAMIENTAS</h4>
					<div class="lineadw linea-verde linea-int"></div>
					<div id="sub-izq" class="row">
						<div class="" aria-labelledby="dropdownMenuLink">
							<button class="dropdown-item" type="button">Campañas de MKT</button>
							<button class="dropdown-item" type="button">Galeria NC Tech</button>
							<button class="dropdown-item" type="button">Chat de negocios</button>
							<button class="dropdown-item" type="button">Reportes</button>
							<button class="dropdown-item" type="button">Newsletter</button>
							<a href="https://accounts.google.com/signin/v2/identifier?continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&service=mail&sacu=1&rip=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin" target="_blank"><button class="dropdown-item" type="button">Correo</button></a>
							<button class="dropdown-item" type="button">Eventos</button>
							<button class="dropdown-item menu-activo" type="button" ng-click="goToPath('/app/documentos')">Documentos</button>
						</div>
					</div><!--subizq-->
				</div>
			</div>
			<div class="col-md-10 text-center color-blanco">
				<div class="row">
					<div class="col-md-4 text-left">
						<button class="btn btn-xs btn-default color-blanco btn-atras" Style="background-color: transparent;" ng-click="goToPath('/app/roles')"><i class="fa fa-arrow-alt-circle-left fa-2x color-blanco"></i></button>
					</div>
					<div class="col-md-4 text-center color-blanco" ng-if="!isEdit"><h3>AGREGAR ROL</h3></div>
					<div class="col-md-4 text-center color-blanco" ng-if="isEdit"><h3>EDITAR ROL</h3></div>
					<div class="col-md-4"></div>
				</div>
				<div class="panel panel-default">
					<div class="panel-body">
						 <uib-tabset active="activeRol">
							<uib-tab index="0" heading="Rol Información">
								<form name="formRol" novalidate>
									<div class="row">
										
										<div class="col-md-12">
											<div class="form-group">
												<label class="control-label" for="name">Nombre</label>
												<input class="form-control" name="name" ng-model="rol.name" required placeholder="Nombre" />
												<span style="color:red" ng-show="formRol.name.$dirty && formRol.name.$invalid">
												<span ng-show="formRol.name.$error.required">El Nombre es requerido.</span>
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<label class="control-label" for="description">Descripción</label>
												<textarea class="form-control" name="description" ng-model="rol.description" required placeholder="Descripción"></textarea>
												<span style="color:red" ng-show="formRol.description.$dirty && formRol.description.$invalid">
												<span ng-show="formRol.description.$error.required">La Descripción es requerido.</span>
											</div>							
										</div>							
									</div>
									
									<div class="row">
										<div class="col-sm-12">
											<button type="button" class="btn btn-info pull-right" ng-click="setActiveTab(1)" ng-disabled="!formRol.$valid">Siguiente</button>
										</div>
									</div>
								</form>
							</uib-tab>
							<uib-tab index="1" heading="Permisos" disable="true">
								<div class="row">
									<div class="col-sm-12 text-left">
										<h3>Usuarios <input bs-switch type="checkbox"  switch-size="small" switch-change="activeModule(1,13)"  checklist-model="rol.rol_function" checklist-value="13"></h3>
										<div class="row">
											<div ng-if="activeUser" class="col-sm-12  col-md-2">
												Agregar <input bs-switch type="checkbox"  switch-size="small" checklist-model="rol.rol_function" checklist-value="14">
											</div>
											<div ng-if="activeUser" class="col-sm-12  col-md-2">
												Editar <input bs-switch type="checkbox"  switch-size="small" checklist-model="rol.rol_function" checklist-value="15">
											</div>
											<div ng-if="activeUser" class="col-sm-12 col-md-3 hidden">
												Cambiar Contraseña <input bs-switch type="checkbox"  switch-size="small" checklist-model="rol.rol_function" checklist-value="17">
											</div>
											<div ng-if="activeUser" class="col-sm-12  col-md-3">
												Eliminar <input bs-switch type="checkbox"  switch-size="small" checklist-model="rol.rol_function" checklist-value="16">
											</div>
										</div>
									</div>
									<div class="col-sm-12">
										 <hr class="style-one">
									</div>
									<div class="col-sm-12 text-left">
										<h3>Roles <input bs-switch type="checkbox"  switch-size="small" switch-change="activeModule(2,18)" checklist-model="rol.rol_function" checklist-value="18"></h3>
										<div class="row">
											<div ng-if="activeRoles" class="col-sm-12  col-md-2">
												Agregar <input bs-switch type="checkbox"  switch-size="small" checklist-model="rol.rol_function" checklist-value="19">
											</div>
											<div ng-if="activeRoles" class="col-sm-12  col-md-2">
												Editar <input bs-switch type="checkbox"  switch-size="small" checklist-model="rol.rol_function" checklist-value="20">
											</div>
											<div ng-if="activeRoles" class="col-sm-12  col-md-3">
												Eliminar <input bs-switch type="checkbox"  switch-size="small" checklist-model="rol.rol_function" checklist-value="21">
											</div>
										</div>
									</div>
									<div class="col-sm-12">
										 <hr class="style-one">
									</div>
									<div class="col-sm-12 text-left">
										<h3>Minutas <input bs-switch type="checkbox"  switch-size="small" switch-change="activeModule(3,1)" checklist-model="rol.rol_function" checklist-value="1"></h3>
										<div class="row">
											<div ng-if="activeMinuta" class="col-sm-12  col-md-2">
												Agregar <input bs-switch type="checkbox"  switch-size="small" checklist-model="rol.rol_function" checklist-value="2">
											</div>
											<div ng-if="activeMinuta" class="col-sm-12  col-md-2">
												Editar <input bs-switch type="checkbox"  switch-size="small" checklist-model="rol.rol_function" checklist-value="3">
											</div>
											<div ng-if="activeMinuta" class="col-sm-12  col-md-2">
												Preview <input bs-switch type="checkbox"  switch-size="small" checklist-model="rol.rol_function" checklist-value="4">
											</div>
											<div ng-if="activeMinuta" class="col-sm-12  col-md-3">
												Descargar <input bs-switch type="checkbox"  switch-size="small" checklist-model="rol.rol_function" checklist-value="5">
											</div>
											<div ng-if="activeMinuta" class="col-sm-12  col-md-3">
												Ver Versiones <input bs-switch type="checkbox"  switch-size="small" checklist-model="rol.rol_function" checklist-value="6">
											</div>
										</div>
									</div>
									<div class="col-sm-12">
										 <hr class="style-one">
									</div>
									<div class="col-sm-12 text-left">
										<h3>Procedimientos <input bs-switch type="checkbox"  switch-size="small" switch-change="activeModule(4,7)" checklist-model="rol.rol_function" checklist-value="7"></h3>
										<div class="row">
											<div ng-if="activeProcedimientos" class="col-sm-12  col-md-2">
												Agregar <input bs-switch type="checkbox"  switch-size="small" checklist-model="rol.rol_function" checklist-value="8">
											</div>
											<div ng-if="activeProcedimientos" class="col-sm-12  col-md-2">
												Editar <input bs-switch type="checkbox"  switch-size="small" checklist-model="rol.rol_function" checklist-value="9">
											</div>
											<div ng-if="activeProcedimientos" class="col-sm-12  col-md-2">
												Preview <input bs-switch type="checkbox"  switch-size="small" checklist-model="rol.rol_function" checklist-value="10">
											</div>
											<div ng-if="activeProcedimientos" class="col-sm-12  col-md-3">
												Descargar <input bs-switch type="checkbox"  switch-size="small" checklist-model="rol.rol_function" checklist-value="11">
											</div>
											<div ng-if="activeProcedimientos" class="col-sm-12  col-md-3">
												Ver Versiones <input bs-switch type="checkbox"  switch-size="small" checklist-model="rol.rol_function" checklist-value="12">
											</div>
										</div>
									</div>
									<div class="col-sm-12">
										 <hr class="style-one">
									</div>
									<div class="col-sm-12 text-left">
										<h3>Politicas <input bs-switch type="checkbox"  switch-size="small" switch-change="activeModule(5,22)" checklist-model="rol.rol_function" checklist-value="22"></h3>
										<div class="row">
											<div ng-if="activePoliticas" class="col-sm-12  col-md-2">
												Agregar <input bs-switch type="checkbox"  switch-size="small" checklist-model="rol.rol_function" checklist-value="23">
											</div>
											<div ng-if="activePoliticas" class="col-sm-12  col-md-2">
												Editar <input bs-switch type="checkbox"  switch-size="small" checklist-model="rol.rol_function" checklist-value="24">
											</div>
											<div ng-if="activePoliticas" class="col-sm-12  col-md-2">
												Preview <input bs-switch type="checkbox"  switch-size="small" checklist-model="rol.rol_function" checklist-value="25">
											</div>
											<div ng-if="activePoliticas" class="col-sm-12  col-md-3">
												Descargar <input bs-switch type="checkbox"  switch-size="small" checklist-model="rol.rol_function" checklist-value="26">
											</div>
											<div ng-if="activePoliticas" class="col-sm-12  col-md-3">
												Ver Versiones <input bs-switch type="checkbox"  switch-size="small" checklist-model="rol.rol_function" checklist-value="27">
											</div>
											<div ng-if="activePoliticas" class="col-sm-12  col-md-3">
												Ver Aceptados <input bs-switch type="checkbox"  switch-size="small" checklist-model="rol.rol_function" checklist-value="28">
											</div>
										</div>
									</div>
									<div class="col-sm-12">
										 <hr class="style-one">
									</div>
								</div>
								<div class="row">
									<div class="col-xs-6 text-center">
										<button class="btn btn-info" ng-click="setActiveTab(0)">Anterior</button>
									</div>
									<div class="col-xs-6 text-center">
										<button class="btn btn-info" ng-if="!isEdit" ng-click='saveRol()'>Guardar</button>
										<button class="btn btn-info" ng-if="isEdit" ng-click='editRol()'>Editar</button>
									</div>
								</div>
							</uib-tab>
						</uib-tabset>		
					</div>
				</div>
			</div>
		</div>
	</div>
</div>