<div id="gral" class="cont-gral">
	<div class="soy90">
		<div class="row">
			<div class="col-md-2 text-center">
				<img class="img100 icono-int" src="assets/images/icono03.png">
				<div class="col-md-2 color-blanco text-center">
					<h4>HERRAMIENTAS</h4>
					<div class="lineadw linea-verde linea-int"></div>
					<div id="sub-izq" class="row">
						<div class="" aria-labelledby="dropdownMenuLink">
							<button class="dropdown-item" type="button">Campañas de MKT</button>
							<button class="dropdown-item" type="button">Galeria NC Tech</button>
							<button class="dropdown-item" type="button">Chat de negocios</button>
							<button class="dropdown-item" type="button">Reportes</button>
							<button class="dropdown-item" type="button">Newsletter</button>
							<a href="https://accounts.google.com/signin/v2/identifier?continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&service=mail&sacu=1&rip=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin" target="_blank"><button class="dropdown-item" type="button">Correo</button></a>
							<button class="dropdown-item" type="button">Eventos</button>
							<button class="dropdown-item menu-activo" type="button" ng-click="goToPath('/app/documentos')">Documentos</button>
						</div>
					</div><!--subizq-->
				</div>
			</div>

			<div class="col-md-10 text-center">
				<div class="row">
					<div class="col-md-4 text-left">
						<button class="btn btn-xs btn-default color-blanco btn-atras" Style="background-color: transparent;" ng-click="goToPath('/app/usuarios')"><i class="fa fa-arrow-alt-circle-left fa-2x color-blanco"></i></button>
					</div>
					<div class="col-md-4 text-center color-blanco" ng-if="!isEdit"><h3>AGREGAR USUARIO</h3></div>
					<div class="col-md-4 text-center color-blanco" ng-if="isEdit"><h3>EDITAR USUARIO</h3></div>
					<div class="col-md-4"></div>
				</div>
				<div class="row">
					<div class="col-md-8 offset-md-2 text-center">
						<form name="formUser" novalidate>					
							<div class="form-group">
								<label class="control-label">Nombre</label>
								<input type="text" class="form-control" name="name" ng-model="usuario.name" placeholder="Nombre del usuario" required />
								<span style="color:red" ng-show="formUser.name.$dirty && formUser.name.$invalid">
								<span ng-show="formUser.name.$error.required">El Nombre es requerido.</span>
							</div>
							
							<div class="form-group">
								<label class="control-label">Apellido</label>
								<input type="text" class="form-control" name="lastname" ng-model="usuario.lastname" placeholder="Apellido" required />
								<span style="color:red" ng-show="formUser.lastname.$dirty && formUser.lastname.$invalid">
								<span ng-show="formUser.lastname.$error.required">El Apellido es requerido.</span>
							</div>
							
							<div class="form-group">
								<label class="control-label">Télefono</label>
								<input type="tel" class="form-control" name="name" ng-model="usuario.phone" placeholder="Teléfono" />
							</div>
							
							<div class="form-group">
								<label class="control-label">Correo</label>
								<input type="email" class="form-control" name="email" ng-model="usuario.email" placeholder="Correo" email="true" />
								<span style="color:red" ng-show="formUser.email.$dirty && formUser.email.$invalid">
								<span ng-show="formUser.email.$error.required">El Correo es requerido.</span>
								<span ng-show="formUser.email.$error.email">Ingresa un correo valido.</span>
							</div>
							
							<div class="form-group">
								<label class="control-label">Puesto</label>
								<input type="text" class="form-control" name="puesto" ng-model="usuario.puesto" placeholder="Puesto Asignado" required />
								<span style="color:red" ng-show="formUser.puesto.$dirty && formUser.puesto.$invalid">
								<span ng-show="formUser.puesto.$error.required">El Puesto del usuario es requerido.</span>
							</div>
							
							<div class="form-group">
								<label class="control-label">Area</label>
								<select chosen name="area" ng-options="option.name for option in areas track by option.idArea" ng-model="usuario.area" class="form-control" required>
									<option value="">Selecciona un area</option>
								</select>
								<span style="color:red" ng-show="formUser.area.$dirty && formUser.area.$invalid">
								<span ng-show="formUser.area.$error.required">Selecciona el area asignada.</span>
							</div>
							
							<div class="form-group" ng-if="!isEdit">
								<label class="control-label">Contraseña</label>
								<input type="password" class="form-control" name="pass" id="pass" ng-model="usuario.pass" placeholder="Contraseña" required />
								<span style="color:red" ng-show="formUser.pass.$dirty && formUser.pass.$invalid">
								<span ng-show="formUser.pass.$error.required">La contraseña es obligatoria.</span>
							</div>
							
							<div class="form-group" ng-if="!isEdit">
								<label class="control-label">Confirmar Contraseña</label>
								<input type="password" class="form-control" name="con_pass" ng-model="usuario.con_pass" placeholder="Confirmar Contraseña" required data-match="usuario.pass" />
								<span style="color:red" ng-show="formUser.con_pass.$dirty && formUser.con_pass.$invalid">
									<span ng-show="formUser.con_pass.$error.required">Confirma la contraseña.</span>
								</span>
								<span ng-show="formUser.con_pass.$error.match">La confirmación de la contraseña no es correcta.</span>
								</span>
							</div>
							
							<div class="form-group">
								<label class="control-label">Rol</label>
								<select chosen name="rol" ng-options="option.name for option in roles track by option.idRol" ng-model="usuario.rol" class="form-control" required>
									<option value="">Selecciona un Rol</option>
								</select>
								<span style="color:red" ng-show="formUser.rol.$dirty && formUser.rol.$invalid">
								<span ng-show="formUser.rol.$error.required">Selecciona el rol asignado.</span>
							</div>
						</form>
					</div>
				</div>
				<br><br>
				<div class="row">
					<div class="col-md-12 text-center">
						<button class="btn btn-md btn-primary" ng-disabled="!formUser.$valid" ng-click="editUsuario()" ng-if="isEdit">GUARDAR</button>
						<button class="btn btn-md btn-primary" ng-disabled="!formUser.$valid" ng-click="saveUsuario()" ng-if="!isEdit">GUARDAR</button>
						<button class="btn btn-md btn-danger" ng-click="goToPath('/app/politicas')">CANCELAR</button>
					</div>
				</div>
				<br><br><br>
			</div><!---colmd10-->
		</div><!--row-->
	</div><!--soy90-->
	<!--<div id="log-int2"><img src="assets/images/logotipo-nctech.png"></div>-->
</div><!--gral-->