<div id="gral" class="cont-gral">
	<div class="soy90">
		<div class="row">
			<div class="col-md-12">
				<div id="elslide">
					<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
					  <ol class="carousel-indicators">
						<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
					  </ol>
					  <div class="carousel-inner" role="listbox">
						<div class="carousel-item active">
						  <img class="d-block img-fluid" src="assets/images/slide03.jpg" alt="First slide">
						</div>
						<div class="carousel-item">
						  <img class="d-block img-fluid" src="assets/images/slide03.jpg" alt="Second slide">
						</div>
						<div class="carousel-item">
						  <img class="d-block img-fluid" src="assets/images/slide03.jpg" alt="Third slide">
						</div>
					  </div>
					  <a class="carousel-control-prev" onClick="$('.carousel').carousel('prev')" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					  </a>
					  <a class="carousel-control-next" onClick="$('.carousel').carousel('next')" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					  </a>
					</div>
				</div><!-- elslide-->
			</div><!--col xs 12-->
		</div>
		<div class="row text-center">
			<div class="col-md-4">
				<div class="dropdown">
						<a href="javascript:void(0)" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<img class="img-responsive iconoshome" src="assets/images/icono01.png" alt="First slide">
							<h4 class="texto-gris titulos-home">NC TECH</h4>
						</a>
						<div class="lineadw linea-naranja"></div>
						<div class="dropdown-menu dropdown-menu-right subm" aria-labelledby="dropdownMenuLink">
							<button class="dropdown-item" type="button">Capital Humano</button>
							<button class="dropdown-item" type="button">Soporte Técnico</button>
							<button class="dropdown-item" type="button">Mercadotecnia</button>
							<button class="dropdown-item" type="button">Administración</button>
							<button class="dropdown-item" type="button">Ventas</button>
							<button class="dropdown-item" type="button">Atención a clientes</button>
						</div>
				</div><!--ZONAS-->
			</div>
			<div class="col-md-4 left80">
				<a href="javascript:void(0)" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<img class="img-responsive iconoshome" src="assets/images/icono02.png" alt="First slide">
						<h4 class="texto-gris titulos-home">NUESTROS ALIADOS</h4>
					</a>
					<div class="lineadw linea-verde"></div>
					<div class="dropdown-menu dropdown-menu-right subm" aria-labelledby="dropdownMenuLink">
						<a href="https://login.solidworks.com/nidp/idff/sso?id=varlogin&sid=0&option=credential&sid=0&target=https%3A%2F%2Fvarportal.solidworks.com%2Fpartnerportal_enu%2Fstart.swe%3FSWECmd%3DStart%26SWEHo%3Dvarportal.solidworks.com" target="_blank"><button class="dropdown-item" type="button">SolidWorks</button></a>
						<a href="https://markforged.com/my-account/" target="_blank"><button class="dropdown-item" type="button">Markforged</button></a>
						<a href="https://www.telit.com/" target="_blank"><button class="dropdown-item" type="button">Telit</button></a>
						<button class="dropdown-item" type="button">3D System</button>
						<button class="dropdown-item" type="button">DelCAM</button>
				</div><!--Nuestros aliados-->
			</div>
			<div class="col-md-4 left80">
				<a href="javascript:void(0)" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<img class="img-responsive iconoshome" src="assets/images/icono03.png" alt="First slide">
						<h4 class="texto-gris titulos-home">HERRAMIENTAS</h4>
					</a>
					<div class="lineadw linea-morada"></div>
					<div class="dropdown-menu dropdown-menu-right subm" aria-labelledby="dropdownMenuLink">
						<button class="dropdown-item" type="button">Campañas de MKT</button>
						<button class="dropdown-item" type="button">Galeria NC Tech</button>
						<button class="dropdown-item" type="button">Chat de negocios</button>
						<button class="dropdown-item" type="button">Reportes</button>
						<button class="dropdown-item" type="button">Newsletter</button>
						<a href="https://accounts.google.com/signin/v2/identifier?continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&service=mail&sacu=1&rip=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin" target="_blank"><button class="dropdown-item" type="button">Correo</button></a>
						<button class="dropdown-item" type="button">Eventos</button>
						<button class="dropdown-item" type="button" ng-click="goToPath('/app/documentos')">Documentos</button>
				</div><!--HERRAMIENTAS-->
			</div>
		</div><!--primera linea de iconos-->
		<div class="row text-center">
			<div class="col-md-4">
				<a href="javascript:void(0)" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<img class="img-responsive iconoshome" src="assets/images/icono05.png" alt="First slide">
						<h4 class="texto-gris titulos-home">CONOCIMIENTO</h4>
					</a>
					<div class="lineadw linea-amarilla"></div>
					<div class="dropdown-menu dropdown-menu-right subm" aria-labelledby="dropdownMenuLink">
						<a href="http://academy.xpertcad.com/" target="_blank"><button class="dropdown-item" type="button">NC Tech University</button></a>
						<button class="dropdown-item" type="button">Knowledge Base</button>
						<button class="dropdown-item" type="button">Artículos Relevantes</button>
						<button class="dropdown-item" type="button">Blog NC Tech</button>
				</div><!--conocimiento-->
			</div>
			<div class="col-md-4 left80">
				<a href="javascript:void(0)" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<img class="img-responsive iconoshome" src="assets/images/icono04.png" alt="First slide">
						<h4 class="texto-gris titulos-home">PLATAFORMAS</h4>
					</a>
					<div class="lineadw linea-azul"></div>
					<div class="dropdown-menu dropdown-menu-right subm" aria-labelledby="dropdownMenuLink">
						<a href="https://crm.nctech.com.mx" target="_blank"><button class="dropdown-item" type="button">CRM</button></a>
						<button class="dropdown-item" type="button">CRM Epic</button>
						<button class="dropdown-item" type="button">People Cloud</button>
				</div><!--plataformas-->
			</div>
			<div class="col-md-4 left80">
				<a href="javascript:void(0)" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<img class="img-responsive iconoshome" src="assets/images/icono06.png" alt="First slide">
						<h4 class="texto-gris titulos-home">FEEDBACK</h4>
					</a>
					<div class="lineadw linea-roja"></div>
					<div class="dropdown-menu dropdown-menu-right subm" aria-labelledby="dropdownMenuLink">
						<button class="dropdown-item" type="button">Comité de valores</button>
						<button class="dropdown-item" type="button">Ideas de mejora</button>
						<button class="dropdown-item" type="button">Evaluación cultural org</button>
				</div><!--plataformas-->
			</div>
		</div><!--segunda linea de iconos-->

	</div>
</div>

<script>
$('.carousel').carousel({
  interval: 2000
});
</script>