<div id="gral">
	<div class="cont100">
		<div class="row">
			<div class="col-md-12">
				<div id="logotipo" class="float-right">
			<img src="assets/images/logotipo-nctech.png">
			<span>Portal Endomarketing</span>
			<div class="subsub">Portal Endomarketing</div>
				</div>
			</div>
		</div>

		<div class="row">
		<div id="frase">Impulsando el desempeño productivo para empresas e instituciones educativas.</div>
		</div>

		<div class="row">
		<div class="col-md-4">.</div>
		<div class="col-md-4">
			<div id="entrar">
			<form id="login" action="" method="post">
				<div class="form-group">
					<label for="username">Usuario:</label>
					<input type="text" ng-model="user" class="form-control" id="username" name="username">
				</div>
				<div class="form-group">
					<label for="passwd">Contraseña:</label>
					<input type="password" ng-model="pass" class="form-control" id="passwd" name="passwd">
				</div>
				<div class="form-check">
					<label class="form-check-label">
						<input ng-model="recordar" class="form-check-input" type="checkbox"> Recordar
					</label>
				</div>
				<div class="form-group">
					<a href="javascript:void(0)" ng-click="recuperarPassword()">Recuperar Contraseña</a>
				</div>
				<center>
					<button ng-click="iniciarSesion()" type="button" class="btn color-blanco linea-naranja">Entrar</button>
				</center>
			</form>
			</div>
		</div>
		<div class="col-md-4">.</div>
		</div>

	</div>
</div>

<!--Modal Eventos Generales-->

<div class="modal" tabindex="-1" role="dialog" id="modal-recuperarPassword">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<div class="col-sm-12 text-center">
					<h3 class="modal-title" id="modal-title">Recuperar Contraseña</h3>
				</div>
			</div>
			<div class="modal-body" id="modal-body">
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group">
							<label class="label-control">Ingresa tu Correo</label>
							<div class="input-group">
								<input type="mail" class="form-control" ng-model="correoForgetPass">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="col-sm-12 text-center">
					<button type="button" class="btn btn-sm btn-danger" onclick='$("#modal-recuperarPassword").modal("hide");'> CANCELAR</button>
					<button type="button" class="btn btn-sm btn-success" ng-click="sendForgetPassword()"> ACEPTAR</button>
				</div>
			</div>
		</div>
	</div>
</div>
	
<script type="text/javascript">
	jQuery(document).ready(function($)
	{
		// Reveal Login form
		setTimeout(function(){ $(".fade-in-effect").addClass('in'); }, 1);


		// Validation and Ajax action
		$("#login").validate({
			rules: {
				username: {
					required: true
				},

				passwd: {
					required: true
				}
			},

			messages: {
				username: {
					required: 'Ingresa tu usuario.'
				},

				passwd: {
					required: 'Ingresa tu password.'
				}
			},
			errorElement: "em",
			errorPlacement: function ( error, element ) {
				// Add the `help-block` class to the error element
				error.addClass( "help-block" );

				if ( element.prop( "type" ) === "checkbox" ) {
					error.insertAfter( element.parent( "label" ) );
				} else {
					error.insertAfter( element );
				}
			},
			highlight: function ( element, errorClass, validClass ) {
				$( element ).parents( ".form-group" ).addClass( "has-error" ).removeClass( "has-success" );
			},
			unhighlight: function (element, errorClass, validClass) {
				$( element ).parents( ".form-group" ).addClass( "has-success" ).removeClass( "has-error" );
			}
		});

		// Set Form focus
		$("form#login .form-group:has(.form-control):first .form-control").focus();
	});
</script>
