<div id="gral" class="cont-gral">
	<div class="soy90">
		<div class="row">
			<div class="col-md-2 text-center">
				<img class="img100 icono-int" src="assets/images/icono03.png">
				<div class="col-md-2 color-blanco text-center">
					<h4>HERRAMIENTAS</h4>
					<div class="lineadw linea-verde linea-int"></div>
					<div id="sub-izq" class="row">
						<div class="" aria-labelledby="dropdownMenuLink">
							<button class="dropdown-item" type="button">Campañas de MKT</button>
							<button class="dropdown-item" type="button">Galeria NC Tech</button>
							<button class="dropdown-item" type="button">Chat de negocios</button>
							<button class="dropdown-item" type="button">Reportes</button>
							<button class="dropdown-item" type="button">Newsletter</button>
							<a href="https://accounts.google.com/signin/v2/identifier?continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&service=mail&sacu=1&rip=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin" target="_blank"><button class="dropdown-item" type="button">Correo</button></a>
							<button class="dropdown-item" type="button">Eventos</button>
							<button class="dropdown-item menu-activo" type="button" ng-click="goToPath('/app/documentos')">Documentos</button>
						</div>
					</div><!--subizq-->
				</div>
			</div>
			<div class="col-md-10 text-center color-blanco">
				<div class="row">
					<div class="col-md-4 text-left">
						<button class="btn btn-xs btn-default color-blanco btn-atras" Style="background-color: transparent;" ng-click="goToPath('/app/documentos')"><i class="fa fa-arrow-alt-circle-left fa-2x color-blanco"></i></button>
					</div>
					<div class="col-md-4 text-center"><h3>MINUTAS</h3></div>
					<div class="col-md-4"></div>
				</div>
				
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<button class="btn btn-sm btn-success float-right" ng-if="checkPermiso(2)" ng-click="goToPath('/app/addMinutas')">AGREGAR MINUTA</button>
						</div>
						<div class="col-md-12 text-center">
							<table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped">
								<thead>
									<tr>
										<th>Minuta</th>
										<th>Nombre</th>
										<th>Fecha</th>
										<th>Hora Inicio</th>
										<th>Hora Fin</th>
										<th>Versión</th>
										<th>Usuario</th>
										<th>Fecha Modificación</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="minuta in minutas" ng-class="($index+1%2 == 0)?'gris1':'gris2'">
										<td>{{minuta.minuta}}</td>
										<td>{{minuta.name}}</td>
										<td>{{minuta.date | formatDate : 3}}</td>
										<td>{{minuta.timeStar}}</td>
										<td>{{minuta.timeEnd}}</td>
										<td>{{minuta.versionParent}}.{{minuta.version}}</td>
										<td>{{minuta.uname}}</td>
										<td>{{minuta.dateCreate | formatDate : 3}}</td>
										<td>
											<button class="btn btn-sm btn-info" data-toggle="tooltip" ng-if="checkPermiso(4)" title="Ver Minuta" ng-click="viewMinuta(minuta.idMinuta)"><i class="fa fa-file-pdf"></i></button>
											<button class="btn btn-sm btn-primary" data-toggle="tooltip" ng-if="checkPermiso(3)" title="Editar" ng-click="editMinuta(minuta.idMinuta)"><i class="fa fa-edit"></i></button>
											<button class="btn btn-sm btn-warning" data-toggle="tooltip" ng-if="checkPermiso(6)" title="Otras Versiones" ng-click="versionMinuta(minuta.versionParent,minuta.name)"><i class="fa fa-clock"></i></button>
											<!-- <button class="btn btn-sm btn-danger" data-toggle="tooltip" title="Eliminar" ng-click="confirmDelete($index)"><i class="fa fa-trash"></i></button> -->
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!--Modal Versionamiento de Minuta-->

<div class="modal" tabindex="-1" role="dialog" id="modal-versionMinuta">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<div class="col-sm-12 text-center">
					<h3 class="modal-title" id="modal-title">Version Minuta {{nameVersionMinuta}}</h3>
				</div>
			</div>
			<div class="modal-body" id="modal-body">
				<div class="row">
					<div class="col-sm-12">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Nombre</th>
									<th>Fecha</th>
									<th>Hora Inicio</th>
									<th>Hora Fin</th>
									<th>Versión</th>
									<th>Usuario</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr class="gris1" ng-repeat="minuta in minutasVersion" ng-class="($index+1%2 == 0)?'gris1':'gris2'">
									<td>{{minuta.name}}</td>
									<td>{{minuta.date | formatDate : 3}}</td>
									<td>{{minuta.timeStar}}</td>
									<td>{{minuta.timeEnd}}</td>
									<td>{{minuta.versionParent}}.{{minuta.version}}</td>
									<td>{{minuta.uname}}</td>
									<td>
										<button class="btn btn-sm btn-info" data-toggle="tooltip" title="Ver Minuta" ng-click="viewMinuta(minuta.idMinuta,true)"><i class="fa fa-file-pdf"></i></button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger" type="button" ng-click="closeVersionMinuta()">CERRAR</button>
			</div>
		</div>
	</div>
</div>
