<div id="gral" class="cont-gral">
	<div class="soy90">
		<div class="row">
			<div class="col-md-12 text-center color-blanco">
				<div class="row">
					<div class="col-md-4 text-left">
						<button class="btn btn-xs btn-default color-blanco btn-atras" Style="background-color: transparent;" ng-click="goToPath('/app/home')"><i class="fa fa-arrow-alt-circle-left fa-2x color-blanco"></i></button>
					</div>
					<div class="col-md-4 text-center"><h3>NOTIFICACIONES</h3></div>
					<div class="col-md-4"></div>
				</div>
				
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center">
							<table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped">
								<thead>
									<tr>
										<th>Notificación</th>
										<th>Detalle</th>
										<th>Tipo</th>
										<th>Fecha</th>
										<th>Status</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="notificacion in notifyActives" ng-class="($index+1%2 == 0)?'gris1':'gris2'">
										<td>{{notificacion.name}}</td>
										<td>{{notificacion.detalle}}</td>
										<td>{{notificacion.type}}</td>
										<td>{{notificacion.date | formatDateTime : 8}}</td>
										<td><label class='label label-success'>Leido</label></td>
										<td>
											<button ng-if="notificacion.idTypeNotification == 1" class="btn btn-sm btn-info" data-toggle="tooltip" title="Ir al modulo" ng-click="goToPath(notificacion.path)">Ir</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>