<div id="gral" class="cont-gral">
	<div class="soy90">
		<div class="row">
			<div class="col-md-2 text-center">
				<img class="img100 icono-int" src="assets/images/icono03.png">
				<div class="col-md-2 color-blanco text-center">
					<h4>HERRAMIENTAS</h4>
					<div class="lineadw linea-verde linea-int"></div>
					<div id="sub-izq" class="row">
						<div class="" aria-labelledby="dropdownMenuLink">
							<button class="dropdown-item" type="button">Campañas de MKT</button>
							<button class="dropdown-item" type="button">Galeria NC Tech</button>
							<button class="dropdown-item" type="button">Chat de negocios</button>
							<button class="dropdown-item" type="button">Reportes</button>
							<button class="dropdown-item" type="button">Newsletter</button>
							<a href="https://accounts.google.com/signin/v2/identifier?continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&service=mail&sacu=1&rip=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin" target="_blank"><button class="dropdown-item" type="button">Correo</button></a>
							<button class="dropdown-item" type="button">Eventos</button>
							<button class="dropdown-item menu-activo" type="button" ng-click="goToPath('/app/documentos')">Documentos</button>
						</div>
					</div><!--subizq-->
				</div>
			</div>
			<div class="col-md-10 text-center color-blanco">
				<div class="row">
					<div class="col-md-4 text-left">
						<button class="btn btn-xs btn-default color-blanco btn-atras" Style="background-color: transparent;" ng-click="goToPath('/app/documentos')"><i class="fa fa-arrow-alt-circle-left fa-2x color-blanco"></i></button>
					</div>
					<div class="col-md-4 text-center"><h3>POLÍTICAS Y LINEAMIENTOS</h3></div>
					<div class="col-md-4"></div>
				</div>
				
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<button class="btn btn-sm btn-success float-right" ng-if="checkPermiso(23)" ng-click="goToPath('/app/addPoliticas')">AGREGAR POLITICA</button>
						</div>
						<div class="col-md-12 text-center">
							<table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped">
								<thead>
									<tr>
										<th>N°</th>
										<th>Nombre</th>
										<th>Area Responsable</th>
										<th>Persona Responsable</th>
										<th>Versión</th>
										<th>Usuario</th>
										<th>Fecha Modificación</th>
										<th>Aceptada</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="politica in politicas" ng-class="($index+1%2 == 0)?'gris1':'gris2'">
										<td>{{politica.versionParent}}</td>
										<td>{{politica.name}}</td>
										<td ng-if="politica.area">{{politica.area}}</td>
										<td ng-if="!politica.area">No Aplica</td>
										<td ng-if="politica.user">{{politica.user}}</td>
										<td ng-if="!politica.user">No Aplica</td>
										<td>{{politica.versionParent}}.{{politica.version}}</td>
										<td>{{politica.userCreate}}</td>
										<td>{{politica.dateCreate | formatDate : 3}}</td>
										<td ng-if="politica.isAceptada > 0"><i class="fa fa-check fa-2x"></i></td>
										<td ng-if="politica.isAceptada == 0">Aun no se acepta Política</td>
										<td>
											<button class="btn btn-sm btn-info" ng-if="checkPermiso(25)" data-toggle="tooltip" title="Ver Política" ng-click="viewPoliticas(politica.idPolitica,politica.name)"><i class="fa fa-file-pdf"></i></button>
											<button class="btn btn-sm btn-primary" ng-if="checkPermiso(24)" ng-if="politica.isEditable == 1" data-toggle="tooltip" title="Editar" ng-click="editPoliticas(politica.idPolitica)"><i class="fa fa-edit"></i></button>
											<button class="btn btn-sm btn-warning" ng-if="checkPermiso(27)" data-toggle="tooltip" title="Otras Versiones" ng-click="versionPolitica(politica.versionParent,politica.name,politica.isAceptada)"><i class="fa fa-clock"></i></button>
											<button class="btn btn-sm btn-default" ng-if="checkPermiso(28)" data-toggle="tooltip" title="Usuarios Aceptado" ng-click="viewReadUser(politica.idPolitica,politica.name)"><i class="fa fa-users"></i></button>
											<!-- <button class="btn btn-sm btn-danger" data-toggle="tooltip" title="Eliminar" ng-click="confirmDelete($index)"><i class="fa fa-trash"></i></button> -->
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Modal Versionamiento de Politicas-->

<div class="modal" tabindex="-1" role="dialog" id="modal-versionPolitica">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<div class="col-sm-12 text-center">
					<h3 class="modal-title" id="modal-title">Version Politica {{nameVersionPolitica}}</h3>
				</div>
			</div>
			<div class="modal-body" id="modal-body">
				<div class="row">
					<div class="col-sm-12">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Nombre</th>
									<th>Versión</th>
									<th>Usuario</th>
									<th>Fecha Modificación</th>
									<th>Aceptada</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="politica in politicaVersion" ng-class="($index+1%2 == 0)?'gris1':'gris2'">
									<td>{{politica.name}}</td>
									<td>{{politica.versionParent}}.{{politica.version}}</td>
									<td>{{politica.userCreate}}</td>
									<td>{{politica.dateCreate | formatDate : 3}}</td>
									<td ng-if="politica.isAceptada == 1"><i class="fa fa-check fa-2x"></i></td>
									<td ng-if="politica.isAceptada == 0">Aun no se acepta Política</td>
									<td>
										<button class="btn btn-sm btn-info" data-toggle="tooltip" title="Ver Política" ng-click="viewPoliticas(politica.idPolitica,politica.name,politica.isAceptada,true)"><i class="fa fa-file-pdf"></i></button>
										<button class="btn btn-sm btn-default" data-toggle="tooltip" title="Usuarios Aceptado" ng-click="viewReadUser(politica.idPolitica,politica.name,true)"><i class="fa fa-users"></i></button>
										<!-- <button class="btn btn-sm btn-danger" data-toggle="tooltip" title="Eliminar" ng-click="confirmDelete($index)"><i class="fa fa-trash"></i></button> -->
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger" type="button" ng-click="closeVersionProceso()">CERRAR</button>
			</div>
		</div>
	</div>
</div>

<!--Modal Usuarios Leidos Politicas-->

<div class="modal" tabindex="-1" role="dialog" id="modal-userPolitica">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<div class="col-sm-12 text-center">
					<h3 class="modal-title" id="modal-title">Usuarios que Aceptaron la Politica {{nameUserPolitica}}</h3>
				</div>
			</div>
			<div class="modal-body" id="modal-body">
				<div class="row">
					<div class="col-sm-12">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Nombre</th>
									<th>Area</th>
									<th>Fecha Aceptación</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="user in userPolitica" ng-class="($index+1%2 == 0)?'gris1':'gris2'">
									<td>{{user.user}}</td>
									<td>{{user.area}}</td>
									<td>{{user.date}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger" type="button" onclick="$('#modal-userPolitica').modal('hide')">CERRAR</button>
			</div>
		</div>
	</div>
</div>