<div id="gral" class="cont-gral">
	<div class="soy90">
		<div class="row">
			<div class="col-md-2 text-center">
				<img class="img100 icono-int" src="assets/images/icono03.png">
				<div class="col-md-2 color-blanco text-center">
					<h4>HERRAMIENTAS</h4>
					<div class="lineadw linea-verde linea-int"></div>
					<div id="sub-izq" class="row">
						<div class="" aria-labelledby="dropdownMenuLink">
							<button class="dropdown-item" type="button">Campañas de MKT</button>
							<button class="dropdown-item" type="button">Galeria NC Tech</button>
							<button class="dropdown-item" type="button">Chat de negocios</button>
							<button class="dropdown-item" type="button">Reportes</button>
							<button class="dropdown-item" type="button">Newsletter</button>
							<a href="https://accounts.google.com/signin/v2/identifier?continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&service=mail&sacu=1&rip=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin" target="_blank"><button class="dropdown-item" type="button">Correo</button></a>
							<button class="dropdown-item" type="button">Eventos</button>
							<button class="dropdown-item menu-activo" type="button" ng-click="goToPath('/app/documentos')">Documentos</button>
						</div>
					</div><!--subizq-->
				</div>
			</div>
			<div class="col-md-10 text-center color-blanco">
				<div class="row">
					<div class="col-md-4 text-left">
						<button class="btn btn-xs btn-default color-blanco btn-atras" Style="background-color: transparent;" ng-click="goToPath('/app/home')"><i class="fa fa-arrow-alt-circle-left fa-2x color-blanco"></i></button>
					</div>
					<div class="col-md-4 text-center"><h3>Roles</h3></div>
					<div class="col-md-4"></div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="col-xs-6 col-sm-4 col-md-2">
							<div class="panel-options">
								<button class="btn btn-sm btn-success float-right" ng-if="checkPermiso(19)" ng-click="sendAddRol()">Agregar Rol</button>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div class="col-xs-12" style="padding:0">
							<div class="table-responsive">
								<table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped">
									<thead>
										<tr>
											<th class="text-center">Nombre</th>
											<th class="text-center">Descripción</th>
											<th class="text-center">Status</th>
											<th class="text-center">Acciones</th>
										</tr>
									</thead>		
									<tbody>
										<tr class="gris1" ng-repeat="rol in roles">
											<td><label>{{rol.name}}</label></td>
											<td>{{rol.description}}</td>
											<td ng-bind-html="rol.status | labelStatus"></td>
											<td>
												<button class="btn btn-xs btn-success" ng-if="checkPermiso(20) && rol.status == 2" ng-click="statusRol($index,1)" tooltip="Habilitar Rol" Style="margin-top:1vh"><i class="fa fa-check-circle"></i></button>
												<button class="btn btn-xs btn-warning" ng-if="checkPermiso(20) && rol.status == 1" ng-click="statusRol($index,2)" tooltip="Inhabilitar Rol" Style="margin-top:1vh"><i class="fa fa-ban"></i></button>
												<button class="btn btn-xs btn-info" ng-if="checkPermiso(20)" ng-click="sendEditUser($index)" tooltip="Editar Rol" Style="margin-top:1vh"><i class="fa fa-edit"></i></button>
												<button class="btn btn-xs btn-danger" ng-if="checkPermiso(21)" ng-click="confirmDelete($index)" tooltip="Eliminar Rol" Style="margin-top:1vh"><i class="fa fa-trash"></i></button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!--Modal Agregar Layout Productos-->
<script type="text/ng-template" id="modal-viewFunction">
	<div class="modal-header">
		<button type="button" class="close" ng-click="currentModalFunction.close();" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Funciones del rol {{rolView.rol}}</h4>
	</div>
	
	<div class="modal-body" Style="padding-top: 0px;">
		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-12" ng-repeat="function in rolesFunctionView">
					{{function.rol}}
				</div>
				<div class="col-xs-12 col-sm-6">
					<button class="btn btn-danger btn-md" ng-click="currentModalFunction.close();">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
</script>