<style>
div.container { max-width: 1000px }
</style>
<page-title ng-if="layoutOptions.pageTitles" title="Usuarios" description="lista de usuarios del administrador"></page-title>


<div id="gral" class="cont-gral">
	<div class="soy90">
		<div class="row">
			<div class="col-md-2 text-center">
			<img class="img100 icono-int" src="assets/images/icono03.png">
			<div class="col-md-2 color-blanco text-center">
				<h4>HERRAMIENTAS</h4>
				<div class="lineadw linea-verde linea-int"></div>
				<div id="sub-izq" class="row">
					<div class="" aria-labelledby="dropdownMenuLink">
						<button class="dropdown-item" type="button">Campañas de MKT</button>
						<button class="dropdown-item" type="button">Galeria NC Tech</button>
						<button class="dropdown-item" type="button">Chat de negocios</button>
						<button class="dropdown-item" type="button">Reportes</button>
						<button class="dropdown-item" type="button">Newsletter</button>
						<a href="https://accounts.google.com/signin/v2/identifier?continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&service=mail&sacu=1&rip=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin" target="_blank"><button class="dropdown-item" type="button">Correo</button></a>
						<button class="dropdown-item" type="button">Eventos</button>
						<button class="dropdown-item menu-activo" type="button" ng-click="goToPath('/app/documentos')">Documentos</button>
					</div>
				</div><!--subizq-->
			</div>
		</div>

		<div class="col-md-10 text-center color-blanco">
			<div class="row">
				<div class="col-md-4 text-left">
					<button class="btn btn-xs btn-default color-blanco btn-atras" Style="background-color: transparent;" ng-click="goToPath('/app/home')"><i class="fa fa-arrow-alt-circle-left fa-2x color-blanco"></i></button>
				</div>
				<div class="col-md-4 text-center"><h3>USUARIOS</h3></div>
				<div class="col-md-4"></div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="col-xs-6 col-sm-4 col-md-2">
						<div class="panel-options">
							<button class="btn btn-sm btn-success float-right" ng-if="checkPermiso(14)" ng-click="sendAddUser()">Agregar Usuario</button>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div class="col-xs-12" style="padding:0">
						<div class="table-responsive">
							<table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped">
								<thead>
									<tr>
										<th class="text-center">Nombre</th>
										<th class="text-center">Apellidos</th>
										<th class="text-center">Telefono</th>
										<th class="text-center">Correo</th>
										<th class="text-center">Puesto</th>
										<th class="text-center">Rol</th>
										<th class="text-center">Ultima sesion</th>
										<th class="text-center">Status</th>
										<th class="text-center">Acciones</th>
									</tr>
								</thead>		
								<tbody>
									<tr class="gris1" ng-repeat="usuario in usuarios">
										<td><label>{{usuario.name}}</label></td>
										<td>{{usuario.lastName}}</td>
										<td>{{usuario.phone}}</td>
										<td>{{usuario.email}}</td>
										<td>{{usuario.puesto}}</td>
										<td>{{usuario.rol}}</td>
										<td>{{usuario.lastSesion}}</td>
										<td ng-bind-html="usuario.status | labelStatus"></td>
										<td>
											<button class="btn btn-xs btn-success" ng-if="checkPermiso(15) && usuario.status == 2" ng-click="statusUser($index,1)" tooltip="Habilitar Usuario" Style="margin-top:1vh"><i class="fa fa-check-circle"></i></button>
											<button class="btn btn-xs btn-warning" ng-if="checkPermiso(15) && usuario.status == 1" ng-click="statusUser($index,2)" tooltip="Inhabilitar Usuario" Style="margin-top:1vh"><i class="fa fa-ban"></i></button>
											<button class="btn btn-xs btn-info" ng-if="checkPermiso(15)" ng-click="sendEditUser($index)" tooltip="Editar Información" Style="margin-top:1vh"><i class="fa fa-edit"></i></button>
											<button class="btn btn-xs btn-danger" ng-if="checkPermiso(16)" ng-click="confirmDelete($index)" tooltip="Eliminar Usuario" Style="margin-top:1vh"><i class="fa fa-trash"></i></button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div><!--row-->
	</div><!--soy90-->
</div><!--gral-->