<div id="gral" class="cont-gral">
	<div class="soy90">
		<div class="col-sm-9 offset-sm-1">
			<a href="javascript:history.back()"><button class="btn btn-xs btn-default color-blanco btn-atras" Style="background-color: transparent;"><i class="fa fa-arrow-alt-circle-left fa-2x color-blanco"></i></button></a>
			<div class="col-xs-12 text-center">
				<button pdf-save-button="savePDFPolitica" ng-if="checkPermiso(26)" pdf-name="politica.pdf" class="btn btn-lg btn-naranja">Descargar</button>
			</div>
			<br>
			<br>
			<div class="row" id="savePDFPolitica" pdf-save-content="savePDFPolitica" style="background-color:#FFF;">
				<div class="col-sm-12">
					<div class="clearfix">
  						<span class="float-left linea-naranja titulopdf">FORMATO POLÍTICAS Y LINEAMINTOS</span>
  						<span class="float-right logopdf"><img src="assets/images/logo-gris.png"></span>
					</div>
					<div class="linea-naranja lineapdf"></div>
				</div>
				<div class="col-sm-12 espaciot">
					<div class="row">
						<div class="col-md-12 espaciot">
							<h3 class="color-gris text-center">{{politica.name}}</h3>
						</div>
						<div class="col-md-12">
							<h3 class="color-naranja titt">OBJETIVO Y ALCANCE</h3>
							<div class="col-sm-12 espaciot">
								<div class="row text-center">
									<div class="col-sm-12 gris3 color-blanco celdapdf">
										OBJETIVO
									</div>
									<div class="col-sm-12 celdapdf2">
										{{politica.objetivo}}
									</div>
									<div class="col-sm-12 gris3 color-blanco celdapdf">
										ALCANCE
									</div>
									<div class="col-sm-12 celdapdf2">
										{{politica.alcance}}
									</div>
								</div>
							</div>
							<h3 class="color-naranja titt">DISPOSICIONES</h3>
							<div class="col-sm-12 espaciot">
								<div class="row text-center">
									<div class="col-sm-6 gris3 color-blanco celdapdf">
										N°
									</div>
									<div class="col-sm-6 gris3 color-blanco celdapdf">
										DESCRIPCIÓN
									</div>
									<div class="col-sm-6 celdapdf2" ng-repeat-start="disposicion in politica.disposiciones">
										{{$index+1}}
									</div>
									<div class="col-sm-6 celdapdf2" ng-repeat-end>
										{{disposicion.description}}
									</div>
								</div>
							</div>
							<h3 class="color-naranja titt">SANCIONES</h3>
							<div class="col-sm-12 espaciot">
								<div class="row text-center">
									<div class="col-sm-6 gris3 color-blanco celdapdf">
										N°
									</div>
									<div class="col-sm-6 gris3 color-blanco celdapdf">
										
									</div>
									<div class="col-sm-6 celdapdf2" ng-repeat-start="prohibicion in politica.prohibiciones">
										{{$index+1}}
									</div>
									<div class="col-sm-6 celdapdf2" ng-repeat-end>
										{{prohibicion.description}}
									</div>
								</div>
							</div>
							<h3 class="color-naranja titt">RESPONSABLES</h3>
							<div class="col-sm-12 espaciot">
								<div class="row text-center">
									<div class="col-sm-6 gris3 color-blanco celdapdf">
										ÁREA RESPONSABLE DEL PROCESO
									</div>
									<div class="col-sm-6 gris3 color-blanco celdapdf">
										RESPONSABLE
									</div>
									<div ng-if="politica.area" class="col-sm-6 celdapdf2">
										{{politica.area}}
									</div>
									<div ng-if="!politica.area" class="col-sm-6 celdapdf2">
										NO APLICA
									</div>
									<div ng-if="politica.user" class="col-sm-6 celdapdf2">
										{{politica.user}}
									</div>
									<div ng-if="!politica.user" class="col-sm-6 celdapdf2">
										NO APLICA
									</div>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="row text-center">
									<div class="col-sm-12 gris3 color-blanco celdapdf">
										ÁREAS INVOLUCRADAS
									</div>
									<div class="col-sm-12 celdapdf2">
										{{politica.responsables | joinArray:'area'}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<br><br><br>
			</div>
			<div class="row text-center" style="background-color: #fff;" ng-if="politica.isAceptada == 1">
				<h3>La Pólitica ha sido aceptada</h3>
			</div>
			<div class="row" ng-if="politica.isAceptada == 0">
				<input type="checkbox" ng-click="aceptarPolitica()" ng-true-value="1" ng-false-value="0"><br>
				Al hacer clic en este recuadro, confirmo lectura, entendimiento y apego a "Política {{politica.name}}"
			</div>
			<!---colmd10-->
		</div><!--row-->
	</div><!--soy90-->
	<!--<div id="log-int2"><img src="assets/images/logotipo-nctech.png"></div>-->
</div><!--gral-->