<div id="gral" class="cont-gral">
	<div class="soy90">
		<div class="col-sm-9 offset-sm-1">
			<a href="javascript:history.back()"><button class="btn btn-xs btn-default color-blanco btn-atras" Style="background-color: transparent;"><i class="fa fa-arrow-alt-circle-left fa-2x color-blanco"></i></button></a>
			<div class="col-xs-12 text-center">
				<button pdf-save-button="savePDFProceso" ng-if="checkPermiso(11)" pdf-name="proceso.pdf" class="btn btn-lg btn-naranja">Descargar</button>
			</div>
			<br>
			<br>
			<div class="row" id="savePDFProceso" pdf-save-content="savePDFProceso" style="background-color:#FFF;">
				<div class="col-sm-12">
					<div class="clearfix">
  						<span class="float-left linea-naranja titulopdf">FORMATO PROCEDIMIENTOS</span>
  						<span class="float-right logopdf"><img src="assets/images/logo-gris.png"></span>
					</div>
					<div class="linea-naranja lineapdf"></div>
				</div>
				<div class="col-sm-12 espaciot">
					<div class="row">
						<div class="col-md-12 espaciot">
							<h3 class="color-gris text-center">{{proceso.name}}</h3>
						</div>
						<div class="col-md-12">
							<h3 class="color-naranja titt">DESCRIPCIÓN DEL OBJETIVO Y ALCANCE</h3>
							<div class="col-sm-12 espaciot">
								<div class="row text-center">
									<div class="col-sm-12 gris3 color-blanco celdapdf">
										OBJETIVO
									</div>
									<div class="col-sm-12 celdapdf2">
										{{proceso.objetivo}}
									</div>
									<div class="col-sm-12 gris3 color-blanco celdapdf">
										ALCANCE
									</div>
									<div class="col-sm-12 celdapdf2">
										{{proceso.alcance}}
									</div>
								</div>
							</div>
							<!-- <h3 class="color-naranja">DURACIÓN</h3> -->
							<!-- <div class="col-sm-12 espaciot"> -->
								<!-- <div class="row text-center"> -->
									<!-- <div class="col-sm-2 gris3 color-blanco celdapdf"> -->
										<!-- INICIA -->
									<!-- </div> -->
									<!-- <div class="col-sm-2 celdapdf2"> -->
										<!-- {{proceso.dateIni}} -->
									<!-- </div> -->
									<!-- <div class="col-sm-2 gris3 color-blanco celdapdf"> -->
										<!-- TERMINA -->
									<!-- </div> -->
									<!-- <div class="col-sm-2 celdapdf2"> -->
										<!-- {{proceso.dateEnd}} -->
									<!-- </div> -->
									<!-- <div class="col-sm-2 gris3 color-blanco celdapdf"> -->
										<!-- #SEMANAS -->
									<!-- </div> -->
									<!-- <div class="col-sm-2 celdapdf2"> -->
										<!-- {{proceso.numWeek}} -->
									<!-- </div> -->
								<!-- </div> -->
							<!-- </div> -->
							<h3 class="color-naranja titt">LINEAMIENTOS</h3>
							<div class="col-sm-12 espaciot">
								<div class="row text-center">
									<div class="col-sm-6 gris3 color-blanco celdapdf">
										LINEAMIENTOS
									</div>
									<div class="col-sm-6 gris3 color-blanco celdapdf">
										OBJETIVO
									</div>
									<div class="col-sm-6 celdapdf2" ng-repeat-start="lineamiento in proceso.lineamientos">
										{{lineamiento.name}}
									</div>
									<div class="col-sm-6 celdapdf2" ng-repeat-end>
										{{lineamiento.objetivo}}
									</div>
								</div>
							</div>
							<h3 class="color-naranja titt">PROCESO DETALLADO</h3>
							<div class="col-sm-12 espaciot">
								<div class="row text-center">
									<div class="col-sm-6 gris3 color-blanco celdapdf">
										PASOS
									</div>
									<div class="col-sm-6 gris3 color-blanco celdapdf">
										ÁREA RESPONSABLE
									</div>
									<div class="col-sm-6 celdapdf2" ng-repeat-start="paso in proceso.pasos">
										{{paso.name}}
									</div>
									<div class="col-sm-6 celdapdf2" ng-repeat-end>
										{{paso.area}}
									</div>
								</div>
							</div>
							<h3 class="color-naranja titt">CHECK LIST</h3>
							<div class="col-sm-12 espaciot">
								<div class="row text-center">
									<div class="col-sm-6 gris3 color-blanco celdapdf">
										REQUERIMIENTOS
									</div>
									<div class="col-sm-6 gris3 color-blanco celdapdf">
										CUMPLIDO
									</div>
									<div class="col-sm-6 celdapdf2" ng-repeat-start="list in proceso.list">
										{{list.name}}
									</div>
									<div class="col-sm-6 celdapdf2" ng-repeat-end>
										<label ng-if="list.type == 1">SI</label>
										<label ng-if="list.type == 2">NO</label>
									</div>
								</div>
							</div>
							<h3 class="color-naranja titt">RESPONSABLES</h3>
							<div class="col-sm-12 espaciot">
								<div class="row text-center">
									<div class="col-sm-6 gris3 color-blanco celdapdf">
										ÁREA RESPONSABLE DEL PROCESO
									</div>
									<div class="col-sm-6 gris3 color-blanco celdapdf">
										RESPONSABLE
									</div>
									<div class="col-sm-6 celdapdf2">
										{{proceso.area}}
									</div>
									<div class="col-sm-6 celdapdf2">
										{{proceso.user}}
									</div>
								</div>
							</div>
							<div class="col-sm-12 espaciot">
								<div class="row text-center">
									<div class="col-sm-6 gris3 color-blanco celdapdf">
										ÁREAS INVOLUCRADAS
									</div>
									<div class="col-sm-6 gris3 color-blanco celdapdf">
										RESPONSABLE
									</div>
									<div class="col-sm-6 celdapdf2" ng-repeat-start="responsable in proceso.responsables">
										{{responsable.area}}
									</div>
									<div class="col-sm-6 celdapdf2" ng-repeat-end>
										{{responsable.user}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!---colmd10-->
		</div><!--row-->
	</div><!--soy90-->
	<!--<div id="log-int2"><img src="assets/images/logotipo-nctech.png"></div>-->
</div><!--gral-->