<div id="gral" class="cont-gral">
	<div class="soy90">
		<div class="col-sm-9 offset-sm-1">
			<a href="javascript:history.back()"><button class="btn btn-xs btn-default color-blanco btn-atras" Style="background-color: transparent;"><i class="fa fa-arrow-alt-circle-left fa-2x color-blanco"></i></button></a>
			<div class="col-xs-12 text-center">
				<br>
				<button pdf-save-button="savePDFMinuta" ng-if="checkPermiso(5)" pdf-name="minuta.pdf" class="btn btn-lg btn-naranja">Descargar</button>
				<br><br>
			</div>
			<div class="row" id="savePDFMinuta" pdf-save-content="savePDFMinuta" style="background-color:#FFF;">
				<div class="col-sm-12">
					<div class="clearfix">
  						<span class="float-left linea-naranja titulopdf">MINUTA DE REUNIÓN</span>
  						<span class="float-right logopdf"><img src="assets/images/logo-gris.png"></span>
					</div>
					<div class="linea-naranja lineapdf"></div>
				</div>
				<div class="col-sm-12 espaciot">
					<div class="row text-center">
						<div class="col-sm-2 gris3 color-blanco celdapdf">
							MINUTA
						</div>
						<div class="col-sm-7 gris3 color-blanco celdapdf">
							DETALLES DE LA REUNIÓN
						</div>
						<div class="col-sm-3 gris3 color-blanco celdapdf">
							TIPO DE REUNIÓN
						</div>
					</div>
					<div class="row text-center">
						<div class="col-sm-1 celdapdf2">
							Minuta
						</div>
						<div class="col-sm-1 celdapdf2">
							{{minuta.minuta}}
						</div>
						<div class="col-sm-1 celdapdf2">
							Fecha
						</div>
						<div class="col-sm-6 celdapdf2">
							{{minuta.date | formatDate:3}}
						</div>
						<div class="col-sm-1 celdapdf2">
							Inicio
						</div>
						<div class="col-sm-2 celdapdf2">
							{{minuta.timeStar}}
						</div>
					</div>
					<div class="row text-center">
						<div class="col-sm-1 celdapdf2">
							FW
						</div>
						<div class="col-sm-1 celdapdf2">
							{{minuta.fw}}
						</div>
						<div class="col-sm-1 celdapdf2">
							Nombre
						</div>
						<div class="col-sm-6 celdapdf2">
							{{minuta.name}}
						</div>
						<div class="col-sm-1 celdapdf2">
							Término
						</div>
						<div class="col-sm-2 celdapdf2">
							{{minuta.timeEnd}}
						</div>
					</div>
					<div class="row text-center">
						<div class="col-sm-2 celdapdf2">
							Organizador
						</div>
						<div ng-if="minuta.organizador > 0" class="col-sm-3 celdapdf2">
							{{minuta.uorganizador}}
						</div>
						<div ng-if="minuta.organizador_ext" class="col-sm-3 celdapdf2">
							{{minuta.organizador_ext}}
						</div>
						<div class="col-sm-1 celdapdf2">
							Secretario
						</div>
						<div ng-if="minuta.secretario > 0" class="col-sm-3 celdapdf2">
							{{minuta.usecretario}}
						</div>
						<div ng-if="minuta.secretario_ext" class="col-sm-3 celdapdf2">
							{{minuta.secretario_ext}}
						</div>
						<div class="col-sm-1 celdapdf2">
							Fecha Reunión
						</div>
						<div class="col-sm-2 celdapdf2">
							{{minuta.fechaReunion | formatDateTime:9}}
						</div>
					</div>
				</div>
				<br>
				<div class="col-sm-12 espaciot">
					<div class="row text-center">
						<div class="col-sm-12 gris3 color-blanco celdapdf">
							PARTICIPANTES
						</div>
						<div class="col-sm-6 gris3 color-blanco celdapdf">
							NOMBRE
						</div>
						<div class="col-sm-3 gris3 color-blanco celdapdf">
							PUESTO
						</div>
						<div class="col-sm-3 gris3 color-blanco celdapdf">
							ASISTENCIA
						</div>
					</div>
					<div class="row text-center" ng-repeat="participante in participantes">
						<div class="col-sm-6 celdapdf2">
							{{participante.uname}}
						</div>
						<div class="col-sm-3 celdapdf2">
							{{participante.puesto}}
						</div>
						<div class="col-sm-3 celdapdf2">
							<b ng-if="participante.asistencia == 1">SI</b>
							<b ng-if="participante.asistencia == 0">NO</b>
						</div>
					</div>
				</div>
				<br>
				<div class="col-sm-12 espaciot">
					<div class="row text-center">
						<div class="col-sm-9 gris3 color-blanco celdapdf">
							OBJETIVOS DE LA REUNIÓN
						</div>
						<div class="col-sm-3 gris3 color-blanco celdapdf">
							FECHA DE REVISIÓN
						</div>
					</div>
					<div class="row text-center" ng-repeat="objetivo in objetivos">
						<div class="col-sm-1 celdapdf2">
							{{$index+1}}
						</div>
						<div class="col-sm-8 celdapdf2">
							{{objetivo.description}}
						</div>
						<div class="col-sm-3 celdapdf2">
							{{objetivo.date | formatDate:3}}
						</div>
					</div>
				</div>
				<br>
				<div class="col-sm-12 espaciot">
					<div class="row text-center">
						<div class="col-sm-1 gris3 color-blanco celdapdf">
							N°
						</div>
						<div class="col-sm-2 gris3 color-blanco celdapdf">
							RESPONSABLE
						</div>
						<div class="col-sm-2 gris3 color-blanco celdapdf">
							ASUNTO/MINUTA
						</div>
						<div class="col-sm-3 gris3 color-blanco celdapdf">
							SUB-ACTIVIDAD / DESCRIPCIÓN
						</div>
						<div class="col-sm-2 gris3 color-blanco celdapdf">
							CO-RESPONSABLES
						</div>
						<div class="col-sm-2 gris3 color-blanco celdapdf">
							FECHA COMPROMISO
						</div>
					</div>
					<div class="row text-center" ng-repeat="actividad in actividades">
						<div  class="col-sm-1 celdapdf2">
							{{$index+1}}
						</div>
						<div class="col-sm-2 celdapdf2">
							{{actividad.responsable}}
						</div>
						<div class="col-sm-2 celdapdf2">
							<div class="col-xs-12" style="padding:0">
								{{actividad.name}}
							</div>
							<div class="col-xs-12" style="padding:0">
								{{actividad.asunto}}
							</div>
						</div>
						<div class="col-sm-3 celdapdf2">
							{{actividad.description}}
						</div>
						<div class="col-sm-2 celdapdf2">
							{{actividad.coresponsable | joinArray:'coresponsable'}}
						</div>
						<div class="col-sm-2 celdapdf2">
							{{actividad.date | formatDateTime:9}}
						</div>
					</div>
				</div>
			</div>
			<br><br>
			<br><br>
		</div>
	</div>
</div>